<!doctype html>

<html>
<a> <img src="/images/icons/instagram.png" class="app" data-toggle="modal" data-target="#insta" id="link"></a>

<!-- Modal -->
<div id="insta" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <p>
        	add image of instagram here

        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>

  </div>
</div>	
</html>
