<!doctype html>

<html>
<a><img src="/images/icons/gallery.png" class="app" data-toggle="collapse" data-target="#galleryImgs"></a>
<p class="appName">Gallery</p>
<div id="galleryImgs" class="collapse">

    <div class="galleryIco">
        <img src="http://lorempixel.com/200/100/" data-toggle="modal" data-target="#viewAll">
        <img src="http://lorempixel.com/140/100/" data-toggle="modal" data-target="#viewAll">
        <img src="http://lorempixel.com/220/100/" data-toggle="modal" data-target="#viewAll">
        <img src="http://lorempixel.com/110/100/" data-toggle="modal" data-target="#viewAll">
        <img src="http://lorempixel.com/130/100/" data-toggle="modal" data-target="#viewAll">
        <img src="http://lorempixel.com/150/100/" data-toggle="modal" data-target="#viewAll">
        <br/><br/>        
    </div>

</div>

<!-- Modal -->
<div id="viewAll" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <p>
            <div class="galleryPadding">
                <img src="http://lorempixel.com/500/300" class="fitInModal"><br/>
                <img src="http://lorempixel.com/500/400" class="fitInModal"><br/>
                <img src="http://lorempixel.com/500/700" class="fitInModal"></a>
            </div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
</div>  
	
</html>
