<!doctype html>

<html>

<div class="appContainer">
  <a><img src="/images/icons/gallery.png" class="app" data-toggle="modal" data-target="#galleryImgs"data-backdrop="true" data-keyboard="true"></a>
  <p class="appName">Gallery</p>
</div>

<!-- Modal -->
<div id="galleryImgs" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
          <div class="galleryHeader">
            <img src="/images/icons/gallery.png">Gallery
          </div>

          <div class="galleryIco">
              <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll" data-backdrop="static" data-keyboard="true">
              <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll" data-backdrop="static" data-keyboard="true">
              <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll" data-backdrop="static" data-keyboard="true">                                          
              <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll" data-backdrop="static" data-keyboard="true">              

              <br/><br/>        
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

	
</html>
