<!doctype html>

<html>
<a><img src="/images/icons/gallery.png" class="app" data-toggle="collapse" data-target="#galleryImgs"></a>
<p class="appName">Gallery</p>
<div id="galleryImgs" class="collapse">
    <div class="galleryIco">
        <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll">
        <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll">
        <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll">
        <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll">
        <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll">
        <img src="http://placehold.it/100x100" data-toggle="modal" data-target="#viewAll">
        <br/><br/>        


    </div>
</div>

<!-- Modal -->
<div id="viewAll" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <p>
            <div class="galleryPadding">
                <img src="http://placehold.it/500x300" class="fitInModal"><br/>
                <img src="http://placehold.it/500x400" class="fitInModal"><br/>
                <img src="http://placehold.it/500x700" class="fitInModal"></a>
            </div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>  
	
</html>
