<!doctype html>

<html>
<div class="appContainer">
  <a><img src="/images/icons/gmail.png" class="app" data-toggle="modal" data-target="#gmail" data-backdrop="true" data-keyboard="true"></a>
  <p class="appName">Gmail</p>
</div>

<!-- Modal -->
<div id="gmail" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">


        <img src="/images/gmail-header.jpg" class="fitInModal">
        <img src="/images/gmail-inbox.jpg" class="fitInModal clickable" data-toggle="collapse" data-target="#inbox1">
        <div id="inbox1" class="collapse">
            <div class="gmailBody">
                Lorem ipsum dolor sit amet, curabitur at. Dignissim ridiculus pharetra est lorem, magna rhoncus ligula volutpat, morbi mauris enim porttitor amet, ut quam aliquam fermentum nulla condimentum. Velit lacus habitant. Massa aenean mattis vitae elit neque eu, cras ultrices purus et diam placerat, ac in id per a eget etiam, wisi senectus justo, turpis ante nec vestibulum lorem. Amet non scelerisque quam tincidunt fermentum donec, pede sit mattis dictum, egestas sodales morbi etiam, cras nullam ac nulla a id a. Placerat blandit gravida in etiam vestibulum eleifend, dictum ac orci dui feugiat tortor. Curabitur arcu suspendisse mus dolor ut nullam. Id commodo adipiscing consectetuer, libero wisi in consequat, quidem elementum sit. Cras nunc pellentesque per, suspendisse nec vel non malesuada amet felis, enim suspendisse, dui nec ornare, est a. Commodo mauris tristique vitae vehicula.
            </div>
        </div>            
        <img src="/images/gmail-inbox.jpg" class="fitInModal clickable" data-toggle="collapse" data-target="#inbox2">
        <div id="inbox2" class="collapse">
            <div class="gmailBody">
                Lorem ipsum dolor sit amet, curabitur at. Dignissim ridiculus pharetra est lorem, magna rhoncus ligula volutpat, morbi mauris enim porttitor amet, ut quam aliquam fermentum nulla condimentum. Velit lacus habitant. Massa aenean mattis vitae elit neque eu, cras ultrices purus et diam placerat, ac in id per a eget etiam, wisi senectus justo, turpis ante nec vestibulum lorem. Amet non scelerisque quam tincidunt fermentum donec, pede sit mattis dictum, egestas sodales morbi etiam, cras nullam ac nulla a id a. Placerat blandit gravida in etiam vestibulum eleifend, dictum ac orci dui feugiat tortor. Curabitur arcu suspendisse mus dolor ut nullam. Id commodo adipiscing consectetuer, libero wisi in consequat, quidem elementum sit. Cras nunc pellentesque per, suspendisse nec vel non malesuada amet felis, enim suspendisse, dui nec ornare, est a. Commodo mauris tristique vitae vehicula.
            </div>
        </div>            
        <img src="/images/gmail-inbox.jpg" class="fitInModal clickable" data-toggle="collapse" data-target="#inbox3">
        <div id="inbox3" class="collapse">
            <div class="gmailBody">
                Lorem ipsum dolor sit amet, curabitur at. Dignissim ridiculus pharetra est lorem, magna rhoncus ligula volutpat, morbi mauris enim porttitor amet, ut quam aliquam fermentum nulla condimentum. Velit lacus habitant. Massa aenean mattis vitae elit neque eu, cras ultrices purus et diam placerat, ac in id per a eget etiam, wisi senectus justo, turpis ante nec vestibulum lorem. Amet non scelerisque quam tincidunt fermentum donec, pede sit mattis dictum, egestas sodales morbi etiam, cras nullam ac nulla a id a. Placerat blandit gravida in etiam vestibulum eleifend, dictum ac orci dui feugiat tortor. Curabitur arcu suspendisse mus dolor ut nullam. Id commodo adipiscing consectetuer, libero wisi in consequat, quidem elementum sit. Cras nunc pellentesque per, suspendisse nec vel non malesuada amet felis, enim suspendisse, dui nec ornare, est a. Commodo mauris tristique vitae vehicula.
            </div>
        </div>                        

      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
</div>  
	
</html>
