<!doctype html>
<div class="gmail-flex-container">
    <div class="gmail-flex-item-img"><img src="/images/ppl/nophoto.jpg" style="width:50px"></div>
    <div class="gmail-flex-item">
        <b>&lt;No Name&gt;</b><br/>
        <div class="gmail-sender">to Walt<br/>
        Feb 15</div>
    </div>

</div>
<br/>

<a class="wordwrap clickable" id="secure-chat" data-dismiss="modal" onclick="startChat()">https://infinitedoma.in/MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgFEkTnSPBiBf5Ko12vJ2JXJ81PIAR5bjsDAeozelx/2RoWFJCCZii1FEclpJgQ0iBM+Lp0TGpjSGtTewstE7pbU7MkD02Gv9+cqqMdhFe6sGmwZQ7nNg7MjjI/YWybjc7+mn5SUQLMXKKtBhnqXBHHPWI6j5yZu1/bMDVdJcnlnAgMBAAE=</a>
