<!doctype html>
<div class="gmail-flex-container">
    <div class="gmail-flex-item-img"><img src="/images/ppl/elaina-ico.jpg" style="width:50px"></div>
    <div class="gmail-flex-item">
        <b>Elaina Jodi</b><br/>
        <div class="gmail-sender">to Walt<br/>
        Feb 15</div>
    </div>

</div>
<br/>

Hello,<br/><br/>

Thank you for contacting ZenTech. We regret to inform you that Elaina Jodi is no longer employed here. Please direct any future correspondence to Reggie Patton at rpatton@zentech.io.<br/><br/>

Best Regards<br/><br/>

This is an automated reply. For your convenience, this email has been automatically forwarded to Reggie Patton.
