<!doctype html>
<div class="gmail-flex-container">
    <div class="gmail-flex-item-img"><img src="/images/ppl/deblei-ico.jpg" style="width:50px"></div>
    <div class="gmail-flex-item">
        <b>Deborah Bleiweiss</b><br/>
        <div class="gmail-sender">to Walt<br/>
        Feb 15</div>
    </div>

</div>
<br/>

Hello Walter,<br/><br/>

As discussed last Friday, this email confirms our decision to terminate your employment with ZenTech effective immediately.<br/><br/>

Your employment is terminated because of excessive mobile-phone use during your work hours after being told by both your manager and department director, that your performance has been declining.<br/><br/>

Your subsequent commitment to using your personal device and disregarding orders from your superiors was a direct violation of company policy and our code of conduct.<br/><br/>

Since you have been employed with ZenTech for less than a year, you will receive one week’s severance pay, which will be included in your final paycheck that will be deposited on your regular payday, next Friday.<br/><br/>

You will need to keep the company informed of your contact information so that we are able to provide information you may need in the future.<br/><br/>

Please let us know if we can assist you during your transition.<br/><br/>

Regards,<br/><br/>

Deborah Bleiweiss<br/>
<i>Assistant Director Human Resources</i><br/><br/>

<div style="font-size:12px">
    d: 619.210.1736<br/>
    o: 619.753.8200<br/>
    f: 619.753.8202
</div>
