<!doctype html>

<html>
<a><img src="/images/icons/gmaps.png" class="app" data-toggle="modal" data-target="#viewMap"></a>
<p class="appName">Google Maps</p>


<!-- Modal -->
<div id="viewMap" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
          {{> googleMaps}}

      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>  
  
</html>
