<!doctype html>

<html>
<a><img src="/images/icons/instagram.png" class="app" data-toggle="modal" data-target="#insta"></a>
<p class="appName">Instagram</p>

<!-- Modal -->
<div id="insta" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>
        	<a href="https://www.instagram.com/wallywalt28/" target="_blank"><img src="/images/ch1/InstagramTemplate.jpg" class="fitInModal"></a><br/>
        	<a href="https://www.instagram.com/wallywalt28/" target="_blank"><img src="/images/ch1/InstagramTemplate.jpg" class="fitInModal"></a><br/>
        	<a href="https://www.instagram.com/wallywalt28/" target="_blank"><img src="/images/ch1/InstagramTemplate.jpg" class="fitInModal"></a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
</div>	
</html>
