<!doctype html>

            <img src="/images/mint-header.jpg" class="fitInModal disable-mouse"><br/>


            <div class="tabs">
              <a id="updates-button"><div class="tab is-tab-selected">UPDATES</div></a>
              <a id="overview-button"><div class="tab">OVERVIEW</div></a>
            </div>

            <ul class="list-group" style="margin:5px;">
                <li class="list-group-item" style="text-align: left;font-weight: 500;">Recent transactions</li>

               <li class="list-group-item">
                    <div class="mint-flex-container">
                        <div class="mint-flex-item" style="text-align: left">Arclight Cinemas La</div>
                        <div class="mint-flex-item" style="text-align: right">-$33.00</div>  
                    </div>  
                    <div class="mint-flex-container">
                        <div class="mint-flex-item mint-category" style="text-align: left">Movies & DVDs</div>
                        <div class="mint-flex-item mint-category" style="text-align: right">1 day ago</div>  
                    </div>                                 
                </li> 
                <li class="list-group-item">
                    <div class="mint-flex-container">
                        <div class="mint-flex-item" style="text-align: left">The Melting Pot</div>
                        <div class="mint-flex-item" style="text-align: right">-$53.13</div>  
                    </div>  
                    <div class="mint-flex-container">
                        <div class="mint-flex-item mint-category" style="text-align: left">Restaurants</div>
                        <div class="mint-flex-item mint-category" style="text-align: right">1 day ago</div>  
                    </div>                                 
                </li>                
                <li class="list-group-item">
                    <div class="mint-flex-container">
                        <div class="mint-flex-item" style="text-align: left">Time Warner</div>
                        <div class="mint-flex-item" style="text-align: right">-$54.99</div>  
                    </div>  
                    <div class="mint-flex-container">
                        <div class="mint-flex-item mint-category" style="text-align: left">Internet</div>
                        <div class="mint-flex-item mint-category" style="text-align: right">2 days ago</div>  
                    </div>                                 
                </li>                
                <li class="list-group-item">
                    <div class="mint-flex-container">
                        <div class="mint-flex-item" style="text-align: left">Netflix</div>
                        <div class="mint-flex-item" style="text-align: right">-$9.99</div>  
                    </div>  
                    <div class="mint-flex-container">
                        <div class="mint-flex-item mint-category" style="text-align: left">Movies & DVDs</div>
                        <div class="mint-flex-item mint-category" style="text-align: right">2 days ago</div>  
                    </div>                                 
                </li>                
                <li class="list-group-item">
                    <div class="mint-flex-container">
                        <div class="mint-flex-item" style="text-align: left">Navi Ed Serv</div>
                        <div class="mint-flex-item" style="text-align: right">-$505.94</div>  
                    </div>  
                    <div class="mint-flex-container">
                        <div class="mint-flex-item mint-category" style="text-align: left">Student Loan</div>
                        <div class="mint-flex-item mint-category" style="text-align: right">3 days ago</div>  
                    </div>                                 
                </li>               

                <li class="list-group-item">
                    <div class="mint-flex-container">
                        <div class="mint-flex-item" style="text-align: left">Original Pancake House</div>
                        <div class="mint-flex-item" style="text-align: right">-$22.73</div>  
                    </div>  
                    <div class="mint-flex-container">
                        <div class="mint-flex-item mint-category" style="text-align: left">Restaurants</div>
                        <div class="mint-flex-item mint-category" style="text-align: right">3 days ago</div>  
                    </div>                                 
                </li>
                <li class="list-group-item">
                    <div class="mint-flex-container">
                        <div class="mint-flex-item" style="text-align: left">Internal Revenue Service</div>
                        <div class="mint-flex-item" style="text-align: right;color:#0AC775">$15.00</div>  
                    </div>  
                    <div class="mint-flex-container">
                        <div class="mint-flex-item mint-category" style="text-align: left">Federal Tax</div>
                        <div class="mint-flex-item mint-category" style="text-align: right">3 days ago</div>  
                    </div>                  
                </li>
            </ul> 
            <div style="padding-bottom: 15px;"></div>

