<!doctype html>

<script>

    // google search
    function loadSearch1() {
        $("#first-search").delay(10).fadeIn();
        $("#search-btn1").remove();
    }

    function loadSearch2() {
        $("#second-search").delay(10).fadeIn();
        $("#search-btn2").remove();
    }

    function loadSearch3() {
        $("#3-search").delay(10).fadeIn();
        $("#search-btn3").remove();
    } 

    function loadSearch4() {
        $("#search-btn4").remove();
        $("#4-search").delay(10).fadeIn();
    } 
    function loadSearch5() {
        $("#search-btn5").remove();
        $("#5-search").delay(10).fadeIn(); 
    }

    function loadSearch6() {
        $("#search-btn6").remove();    
        $("#6-search").delay(10).fadeIn();
    }

    function loadSearch7() {
        $("#search-btn7").remove();    
        $("#7-search").delay(10).fadeIn();
    }
       
    function loadSearch8() {
        $("#search-btn8").remove();
        $("#8-search").delay(10).fadeIn();
    }    

    // uber
    function orderUber() {
        alert("Driver is arriving now");    
    }  

    // sms response
    function loadSMS1() {
        $(".smsrefresh1").remove();
        $("#sms01").delay(10).fadeIn();
        scrollToBottom();
    }
    function loadSMS2() {
        $(".smsrefresh2").remove();
        $("#sms02").delay(10).fadeIn();
        scrollToBottom();
    }    

    // load pages
    function loadPage9_1() { 
        $("#append_page9_1").delay(100).fadeIn();
        scrollToBottom();      
    }    

    function loadPage9_2() { 
        $("#append_page9_2").delay(100).fadeIn();
        scrollToBottom();      
    }         

    function loadPage9_3() { 
        $("#append_page9_3").delay(100).fadeIn();
        scrollToBottom();      
    }     

    function loadPage9_4() { 
        $("#append_page9_4").delay(100).fadeIn();
        scrollToBottom();      
    } 

</script>

<!-- ############################# START Google Search START ############################# -->


<div class="timeline" style="height:78px"></div>
<div class="stamp">4<span>:</span>38<span>:</span>18 PM</div>
<div class="timeline" style="height:7px"></div>

<html>
<div class="appContainer">
    <a><img src="/images/icons/google.png" class="app" data-toggle="modal" data-target="#search" data-backdrop="true" data-keyboard="true"></a>
    <p class="appName">Google</p>
</div>  

<!-- Modal -->
<div id="search" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <img src="/images/search-header.jpg" class="fitInModal disable-mouse">
        <!-- div class to introduce app -->
        <div class="search-header">
            <h1>Web & App Activity</h1>
            <h2>Check out your past searches and the content you've browsed in Chrome and other apps</h2>
        </div>
        <div style="padding-top:15px;"></div>
        <img src="/images/search-card.jpg" style="padding:5px;width:95%">
        <div style="padding-bottom:15px;"></div>  

        <div class="refresh"><button class="buttonRefresh" id="search-btn1" onclick="loadSearch1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>


        <!-- eighth search -->
        <div id="8-search" style="display:none;"> 

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search8" class="clickable">&ldquo;san diego supercomputer center floor plan&rdquo;</u></h1>
                    <div id="search8" class="collapse search-collapse">
                        <h1>About 128,000 results (0.81 seconds)</h1>
                    </div>                     
                    <h2>4:53pm</h2>
                </div>
            </div>
            
            <hr/>     
        </div> 

        <!-- seven search -->
        <div id="7-search" style="display:none;"> 
            <div class="refresh"><button class="buttonRefresh" id="search-btn8" onclick="loadSearch8()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search7" class="clickable">&ldquo;san diego supercomputer center address&rdquo;</u></h1>
                    <div id="search7" class="collapse search-collapse">
                        <h1>About 397,000 results (0.83 seconds)</h1>
                    </div>                     
                    <h2>4:52pm</h2>
                </div>
            </div>
            
            <hr/>     
        </div> 

        <!-- six search -->
        <div id="6-search" style="display:none;"> 
            <div class="refresh"><button class="buttonRefresh" id="search-btn7" onclick="loadSearch7()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search6" class="clickable">Turns Out Police Stringray Spy Tools Can Indeed Record Calls | WIRED</h3></h1>

                    <div id="search6" class="collapse search-collapse">
                        <h4>wired.com</h4>
                    </div>

                    <h2>4:50pm</h2>
                </div>
            </div>
            
            <hr/>     
        </div> 

        <!-- five search -->
        <div id="5-search" style="display:none;"> 
            <div class="refresh"><button class="buttonRefresh" id="search-btn6" onclick="loadSearch6()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search5" class="clickable">Customer Letter - The Need for Encryption - Apple</h3></h1>

                    <div id="search5" class="collapse search-collapse">
                        <h4>apple.com</h4>
                    </div>

                    <h2>4:46pm</h2>
                </div>
            </div>
            
            <hr/>     
        </div> 

        <!-- fourth search -->
        <div id="4-search" style="display:none;"> 
            <div class="refresh"><button class="buttonRefresh" id="search-btn5" onclick="loadSearch5()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>        

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search4" class="clickable">Edward Snowden - Wikipedia</h3></h1>

                    <div id="search4" class="collapse search-collapse">
                        <h4>wikipedia.org</h4>
                    </div>

                    <h2>4:41pm</h2>
                </div>
            </div>
            
            <hr/>     
        </div> 

        <!-- third search -->
        <div id="3-search" style="display:none;"> 
            <div class="refresh"><button class="buttonRefresh" id="search-btn4" onclick="loadSearch4()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search3" class="clickable">&ldquo;data compromised&rdquo;</u></h1>
                    <div id="search3" class="collapse search-collapse">
                        <h1>About 34,600,000 results (0.45 seconds)</h1>
                    </div>                     
                    <h2>4:40pm</h2>
                </div>
            </div>
            
            <hr/>     
        </div> 

        <!-- second search -->
        <div id="second-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn3" onclick="loadSearch3()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search2" class="clickable">San Diego Supercomputer Center</h3></h1>

                    <div id="search2" class="collapse search-collapse">
                        <h4>sdsc.edu</h4>
                    </div>

                    <h2>4:38pm</h2>
                </div>
            </div>
            <hr/>
        </div>

        <!-- first search -->
        <div id="first-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn2" onclick="loadSearch2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search1" class="clickable">&ldquo;ucsd sdsc&rdquo;</u></h1>
                    <div id="search1" class="collapse search-collapse">
                        <h1>About 354,000 results (1.11 seconds)</h1>
                    </div>                     
                    <h2>4:38pm</h2>
                </div>
            </div>
            <hr/>     
        </div>   



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage9_1()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ############################# END Google Search END ############################# -->
<!-- ############################# START Uber START ############################# -->
<div id="append_page9_1" style="display:none;">

    <div class="timeline" style="height:144px"></div>
    <div class="stamp">5<span>:</span>02<span>:</span>08 PM</div>
    <div class="timeline" style="height:7px"></div>

    <html>
    <div class="appContainer">
        <a><img src="/images/icons/uber.png" class="app" data-toggle="modal" data-target="#uber" data-backdrop="true" data-keyboard="true"></a>
        <p class="appName">Uber</p>
    </div>  

    <!-- Modal -->
    <div id="uber" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/uber-header.jpg" class="fitInModal disable-mouse border-bot">

            <div class="uber-body">
                <div class="uber-header">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    <p>PICKUP LOCATION</p>
                    <h1>4110 PORTE DE PALMAS</h1>
                    
                </div>
            <a onclick="orderUber()"><img src="/images/uber-body.jpg" class="fitInModal disable-mouse border-bot"></a>
            </div>

            <img src="/images/uber-footer.jpg" class="fitInModal disable-mouse">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage9_2()">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- ############################# END Uber END ############################# -->
<!-- ############################# START Spotify START ############################# -->

<div id="append_page9_2" style="display:none;">
    <div class="timeline" style="height:24px"></div>
    <div class="stamp">5<span>:</span>06<span>:</span>44 PM</div>
    <div class="timeline" style="height:7px"></div>

    <html>
    <div class="appContainer">
        <a><img src="/images/icons/spotify.png" class="app" data-toggle="modal" data-target="#spotify" data-backdrop="true" data-keyboard="true"></a>
        <p class="appName">Spotify</p>
    </div>  

    <!-- Modal -->
    <div id="spotify" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Awalt42195%3Aplaylist%3A6MJZQoSNy1XJAKZaSycVnQ" frameborder="0" allowtransparency="true"></iframe>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage9_3()">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- ############################# END Spotify END ############################# -->
<!-- ############################# START Texts Stacy START ############################# -->
<div id="append_page9_3" style="display:none;">
    <div class="timeline" style="height:6px"></div>
    <div class="stamp">5<span>:</span>07<span>:</span>23 PM</div>
    <div class="timeline" style="height:7px"></div>

    <div class="appContainer">
        <a><img src="/images/icons/text.png" class="app" data-toggle="modal" data-target="#text" data-backdrop="true" data-keyboard="true" id="sms"></a>
        <p class="appName">SMS</p>
    </div>  

    <!-- Modal -->
    <div id="text" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <div class="txtHeader">
                <i class="fa fa-comments"></i> <img class="txt-ico" src="/images/ppl/stacy.jpg">Stacy<img class="emoji" src="/images/emoji/heartemoji.png">
            </div>
            <div class="textContainer">                   
            
                <div class="sent">
                    <p>Hey, sorry about earlier. I'm watching Bob's Burgers and thinking of you, haha.
                        <div class="time">3:37 PM</div>
                    </p>
                </div>

                <div class="sent">
                    <p>Do you want to get dinner tonight?
                        <div class="time">3:37 PM</div>
                    </p>
                </div>

                <div class="sent">
                    <p>I’m sorry about everything.
                        <div class="time">3:38 AM</div>
                    </p>
                </div>   

                <div id="sms01" style="display:none;">  
                    <div class="sent">
                        <p>I wish things could have ended differently.
                            <div class="time">5:07 PM</div>
                        </p>
                    </div>
                    <button class="buttonRefresh smsrefresh2" onclick="loadSMS2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>     
                </div>        

                <div id="sms02" style="display:none;">  
                    <div class="sent">
                        <p>I'll stop bothering you.
                            <div class="time">5:07 PM</div>
                        </p>
                    </div>   
                </div>                                                

                <button class="buttonRefresh smsrefresh1" onclick="loadSMS1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>                        
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage9_4()">Close</button>
          </div>
        </div>
      </div>
    </div>        
</div>
<!-- ############################# END Texts Stacy END ############################# -->
<div id="append_page9_4" style="display:none;">
    <div style="padding-top:50px;"></div>
    <button class="next-button" id="page10">
        <div class="blink"><span><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></span></div>
    </button>
    <div style="padding-bottom:50px;"></div>
</div>