<!doctype html>

<img src="/images/circle.png" id="circle">
<div class="timeline" style="height:50px"></div>
<ul class="list-group" style="margin:5px;">
    <li class="list-group-item">
        <div class="note-flex-container">
          <div class="note-left">
            <div style="text-align: left;flex-grow: 1;"><i class="fa fa-clock-o fa-4x" aria-hidden="true"></i></div>
          </div>
            <div class="note-flex-column">
              <div style="text-align: left;flex-grow: 2" ><b>Alarm</b></div> 
              <div style="text-align: left;"><button type="button" class="btn btn-danger" style="padding-right:40px;padding-left:40px" id="page1_2">Dismiss</button></div>
            </div>
            <div class="note-flex-column">
              <div style="text-align: right;flex-grow: 2"><font color="#00000">7:30 AM</font></div>  
              <div style="text-align: right;"><button type="button" class="btn btn-default" style="padding-right:40px;padding-left:40px" id="page1_2">Snooze</button></div>
            </div>            
           
        </div>
    </li>
</ul> 
<div id="append_page1_2"></div>
