<!doctype html>

<script>
$(document).ready(function(){
    $("#sc1").delay(1000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);
    $("#sc2").delay(2000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);
    $("#sc3").delay(4000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);
    $("#sc4").delay(5000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);
    $("#sc5").delay(6000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);
    $("#sc6").delay(7000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);
    $("#sc7").delay(8000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);
    $("#sc8").delay(9000).fadeIn();
    $('div').animate({ scrollTop: $('div').height()}, 1000);    
});
</script>

<div class="secureText">
    <p id=sc1 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> hello?
    </p>
    <p id=sc2 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what is this?
    </p>
    <p id=sc3 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> hello?
    </p>

    <p id=sc4 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Hello Walt.
    </p>
    <p id=sc5 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Don't be afraid.
    </p>
    <p id=sc6 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> hello?
    </p> 
    <p id=sc7 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> hello?
    </p>
    <p id=sc8 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what is this?
    </p>
    <p id=sc9 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> hello?
    </p>     
</div>
