<!doctype html>
<script>


    // load apps
    function loadPage16_1() { 
        $("#append_page16_1").delay(100).fadeIn();
        scrollToBottom();      
    }     
</script>
<!-- ############################# START Alarm START ############################# -->
<img src="/images/circle.png" id="circle">
<div class="timeline" style="height:50px"></div>
<ul class="list-group" style="margin:5px;">
    <li class="list-group-item">
        <div class="note-flex-container">
          <div class="note-left">
            <div style="text-align: left;flex-grow: 1;"><i class="fa fa-clock-o fa-4x" aria-hidden="true"></i></div>
          </div>
            <div class="note-flex-column">
              <div style="text-align: left;flex-grow: 2" ><b><div class="blink-text">Wake Up!</div></b></div> 
              <div style="text-align: left;"><button type="button" class="btn btn-danger" style="padding-right:40px;padding-left:40px" onclick="loadPage16_1()">Dismiss</button></div>
            </div>
            <div class="note-flex-column">
              <div style="text-align: right;flex-grow: 2"><font color="#00000">7:30 AM</font></div>  
              <div style="text-align: right;"><button type="button" class="btn btn-default disabled" style="padding-right:40px;padding-left:40px">Snooze</button></div>
            </div>
        </div>
    </li>
</ul> 
<!-- ############################# END Alarm END ############################# -->


<!-- ############################# START Facebook START ############################# -->
<div id="append_page16_1" style="display:none;">
    <div class="timeline" style="height:24px"></div>
    <div class="stamp">7<span>:</span>30<span>:</span>00 AM</div>
    <div class="timeline" style="height:7px"></div>
    
    <div class="appContainer">
      <a><img src="/images/icons/facebook.png" class="app" data-toggle="modal" data-target="#facebook" data-backdrop="true" data-keyboard="true"></a>
      <p class="appName">Facebook</p>
    </div>



    <!-- Modal -->
    <div id="facebook" class="modal fade " role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/fb-header.jpg" class="fitInModal disable-mouse">
            <div class="cover-photo"></div>
            <div class="move-up">
              <img src="/images/fb-profile.jpg" style="width:130px"><br/>
              <div class="fb-name">Stacy Liu</div>
              <img src="/images/fb-stat.jpg" class="fitInModal disable-mouse">

              <div style="padding: 5px;padding-top:15px;"></div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  SEO Specialist
                </div>
              </div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  Studied Political Science at University of California, San Diego
                </div>
              </div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  Lives in San Diego, California
                </div>
              </div>   

              <div style="padding: 5px;padding-top:15px;"></div>                 

              <img src="/images/fb-menu.jpg" class="fitInModal disable-mouse">

              <div class="fb-body">
                <div class="fb-status-flex-container">
                    <div style="width:20%">
                        <img src="/images/fb-profile.jpg" style="width:65px">
                    </div>
                    <div style="width:80%">
                        <strong style="color:#3B5998">Stacy Liu</strong> went from being "in a relationship" to "single."<br/>
                        <i class="fa fa-heart" aria-hidden="true" style="color: #DA5F5F"></i> 22 minutes ago • <font color="#8189A5">Like</font> • <font color="#8189A5">Comment</font>
                    </div>
                </div>
              </div>

            </div>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage6_3()">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
<!-- ############################# END Facebook END ############################# -->

</div>