<script>
function loadStatus1() {
    $("#fbrefresh1").remove();
    $("#status1").delay(10).fadeIn();
    $("#status2").delay(1000).fadeIn();    
}
function loadStatus2() {
    $("#fbrefresh2").remove();
    $("#status3").delay(10).fadeIn();
    $("#status4").delay(1000).fadeIn();    
}
</script>
<!-- <div id="append_page16_1" style="display:none;"> -->
    <div class="timeline" style="height:24px"></div>
    <div class="stamp">7<span>:</span>30<span>:</span>00 AM</div>
    <div class="timeline" style="height:7px"></div>

    <div class="appContainer">
      <a><img src="/images/icons/facebook.png" class="app" data-toggle="modal" data-target="#facebook" data-backdrop="true" data-keyboard="true"></a>
      <p class="appName">Facebook</p>
    </div>



    <!-- Modal -->
    <div id="facebook" class="modal fade " role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/fb-header.jpg" class="fitInModal disable-mouse">
            <div class="walt-cover-photo"></div>
            <div class="move-up">
              <img src="/images/fb-profile-walt.jpg" style="width:130px"><br/>
              <div class="fb-name">Walt Lee</div>
              <img src="/images/fb-stat-walt.jpg" class="fitInModal disable-mouse">

              <div style="padding: 5px;padding-top:15px;"></div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  Worked at ZenTech Digital Solutions
                </div>
              </div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  Studied Communications at University of California, San Diego
                </div>
              </div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  Lives in San Diego, California
                </div>
              </div>   

              <div style="padding: 5px;padding-top:15px;"></div>                 

              <img src="/images/fb-menu.jpg" class="fitInModal disable-mouse">

              <button class="buttonRefresh90width" id="fbrefresh1" onclick="loadStatus1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>

                <div id="status1" style="display:none;">
                    <div class="fb-body">

                      <div class="fb-status-flex-container">
                          <div style="width:20%">
                              <img src="/images/fb-profile-walt.jpg" style="width:65px">
                          </div>
                          <div style="width:80%">
                              <p style="color:#000">Look at this</p><br/>
                              <i class="fa fa-users" aria-hidden="true" style="color: #A2A7AF"></i> 22 minutes ago • <font color="#8189A5">Like</font> • <font color="#8189A5">Comment</font>
                          </div>
                      </div>
                <div id="status2" style="display:none;">
                    <button class="buttonRefresh90width" id="fbrefresh2" onclick="loadStatus2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>                      
                    </div>
                </div>
                

            </div>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage16_2()">Close</button>
          </div>
        </div>
      </div>
    </div>

<!-- </div> -->
