<!doctype html>

<html>
<a><img src="/images/icons/text.png" class="app" data-toggle="modal" data-target="#text"></a>
<p class="appName">SMS</p>

<!-- Modal -->
<div id="text" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="txtHeader">
            <i class="fa fa-comments"></i> <img src="/images/ppl/arthur-ico.jpg">Arthur C
        </div>
        <div class="textContainer">
            <div class="received">
                <p>hi friend
                    <div class="time">7:20 PM</div>
                </p>
            </div>
            <div class="sent">
                <p>hi friend
                    <div class="time">7:20 PM</div>
                </p>
            </div>
            <div class="received">
                <p>hi friend
                    <div class="time">7:20 PM</div>
                </p>
            </div>
            <div class="sent">
                <p>hi friend
                    <div class="time">7:20 PM</div>
                </p>
            </div> 
            <div class="received">
                <p>hi friend
                    <div class="time">7:20 PM</div>
                </p>
            </div>                             
        </div>

        <div class="textBox">
            <p>hi friend. you are a great friend.<span>|</span></p>
            <i class="fa fa-send"></i> 
        </div>
                                         

      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
</div>  
	
</html>
