<!doctype html>


<!-- content of story goes here -->

<div class="stamp">17:28&nbsp;&nbsp;&nbsp;June 28&nbsp;&nbsp;&nbsp;San Francisco&nbsp;&nbsp;&nbsp;72ºF</div>
<img src="/images/circle.png" id="circle">
<div class="timeline" style="height:150px"></div>
{{> ch1instagram}}
<div class="timeline" style="height:75px"></div>


