<!doctype html>

	<div class="fetch">
		<i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
		<p>SUCCESS! DATA UP-TO-DATE</p><br/>
		<p>DATA_LAST_FETCHED = 2016-02-15_11.00.36PM</p>
		<div class="fetch-flex-container">
		  <div class="fetch-flex-item">GPS:</div>
		  <div class="fetch-flex-item">22.4124 44.7882</div>
		  <div class="fetch-flex-item">on</div>  
		</div>
		<div class="fetch-flex-container">
		  <div class="fetch-flex-item">BLUETOOTH:</div>
		  <div class="fetch-flex-item">N/A</div>
		  <div class="fetch-flex-item">off</div>  
		</div>
		<div class="fetch-flex-container">
		  <div class="fetch-flex-item">WIFI:</div>
		  <div class="fetch-flex-item">N/A</div>
		  <div class="fetch-flex-item">on</div>  
		</div>
		<div class="fetch-flex-container">
		  <div class="fetch-flex-item">MOBILE DATA:</div>
		  <div class="fetch-flex-item">LTE</div>
		  <div class="fetch-flex-item">on</div>  
		</div>	
	</div>	
	<br/>
	<button type="button" class="btn btn-default" id="walt-button">View WALT_0628 Logs</button>

</html>
