<!doctype html>

    <img src="/images/mint-header.jpg" class="fitInModal disable-mouse"><br/>
    <div class="tabs">
      <a id="updates-button"><div class="tab">UPDATES</div></a>
      <a id="overview-button"><div class="tab is-tab-selected">OVERVIEW</div></a>
    </div>  
  

    <ul class="list-group" style="margin:5px;">
        <li class="list-group-item">
            <div class="mint-flex-container">
                <div class="mint-flex-full" style="text-align: left;font-weight: 500;">Alerts</div>
            </div>  
            <div class="mint-flex-container">
                <div class="mint-flex-full mint-category" style="text-align: left"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  In the past 30 days, you spent $337.50 on Entertainment.</div>
            </div>                                 
        </li>
    </ul>  

    <ul class="list-group" style="margin:5px;">
        <li class="list-group-item">
            <div class="mint-flex-container">
                <div class="mint-flex-full" style="text-align: left;font-weight: 500;">Bill reminders</div>
            </div>  
            <div class="mint-flex-container">
                <div class="mint-category" style="text-align: left; width: 70%;"><i class="fa fa-bell" aria-hidden="true"></i> Credit Card Bill Due in <font color="ff0000">5 days</font></div>
                <div class="mint-flex-item mint-category" style="text-align: right">$363.84</div>

            </div>                      
            <div class="mint-flex-container">    
                <div class="mint-flex-item mint-category" style="text-align: left">February 20, 2016</div>
			</div>                   
        </li>
    </ul>           

    <ul class="list-group" style="margin:5px;">
        <li class="list-group-item">
            <div class="mint-flex-container">
                <div class="mint-flex-full" style="text-align: left;font-weight: 500;">Accounts</div>
            </div>  
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left">Cash</div>
                <div class="mint-flex-item mint-category" style="text-align: right"><font color="#0AC775">$22.93</font></div>
            </div> 
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left">Credit cards</div>
                <div class="mint-flex-item mint-category" style="text-align: right">-$363.84</div>
            </div>         
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left">Student loans</div>
                <div class="mint-flex-item mint-category" style="text-align: right">-$33,000.00</div>
            </div>      
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left">Investments</div>
                <div class="mint-flex-item mint-category" style="text-align: right"><font color="#0AC775">$0</font></div>
            </div>                                                               
        </li>
    </ul>                    
