<!doctype html>

    <img src="/images/mint-header.jpg" class="fitInModal"><br/>
    <div class="fitInModal">
        <a id="updates-button"><img src="/images/mint-updates-2.jpg" style="display: inline-block;width:50%;"></a><a id="overview-button"><img src="/images/mint-overview-2.jpg" style="display:inline-block;width:50%;"></a>
    </div>
  

    <ul class="list-group" style="margin:5px;">
        <li class="list-group-item">
            <div class="mint-flex-container">
                <div class="mint-flex-full" style="text-align: left;font-weight: 500;">Alerts</div>
            </div>  
            <div class="mint-flex-container">
                <div class="mint-flex-full mint-category" style="text-align: left"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  In the past 30 days, you spent $437.50 on Entertainment.</div>
            </div>                                 
        </li>
    </ul>  

    <ul class="list-group" style="margin:5px;">
        <li class="list-group-item">
            <div class="mint-flex-container">
                <div class="mint-flex-full" style="text-align: left;font-weight: 500;">Bill reminders</div>
            </div>  
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left"><i class="fa fa-bell" aria-hidden="true"></i> Credit Card Bill Due in <font color="ff0000">5 days</font></div>
                <div class="mint-flex-item mint-category" style="text-align: right">$363.84</div>

            </div>                      
            <div class="mint-flex-container">    
                <div class="mint-flex-item mint-category" style="text-align: left">March 1, 2016</div>
			</div>                   
        </li>
    </ul>           

    <ul class="list-group" style="margin:5px;">
        <li class="list-group-item">
            <div class="mint-flex-container">
                <div class="mint-flex-full" style="text-align: left;font-weight: 500;">Accounts</div>
            </div>  
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left">Cash</div>
                <div class="mint-flex-item mint-category" style="text-align: right"><font color="#0AC775">$22.93</font></div>
            </div> 
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left">Credit cards</div>
                <div class="mint-flex-item mint-category" style="text-align: right">-$363.84</div>
            </div>      
            <div class="mint-flex-container">
                <div class="mint-flex-item mint-category" style="text-align: left">Investments</div>
                <div class="mint-flex-item mint-category" style="text-align: right"><font color="#0AC775">$0</font></div>
            </div>                                                          
        </li>
    </ul>                    
