<!doctype html>

<html>
{{>head}}


<body id="background">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="menuBar">Infinite<span><i class="fa fa-eye" aria-hidden="true" style="font-size:.8em;padding-left:2px;padding-right:2px;"></i></span>Domain</div>
                <div class="waltDisplay">
                    <!-- content of story goes here -->
                    
                    <div class="appDisplay" id="div1">


                        <div style="padding-top: 10vh"></div>
                        Start 3D capture on <br/>
                        <div style="padding-top: 15px"></div>
                        <img src="/images/walt.png" style="width: 95px"><br/>  
                        <div style="padding-top: 15px"></div>
                        <strong>WALT110</strong>
                        <div style="padding-bottom: 15px"></div>  
                        <a class="start-button clickable" id="scan-button">
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </a>  
                        <div style="padding-bottom: 50px"></div>             

                            
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/walt.js"></script>
</body>
</html>
