<!doctype html>
<script>
	document.getElementById("div1").style.backgroundColor = "#000";
	document.getElementById("background").style.backgroundColor = "#000";

	$(document).ready(function(){
	    $("#name").delay(3000).fadeIn();
	    $("#creator").delay(5000).fadeIn(); 
	    $("#feedback").delay(7000).fadeIn(); 
	    $("#restart").delay(10000).fadeIn();    
	});  

	function goBackHome() {
		window.location.href = "./";
	} 
</script>
<div style="padding-top:10vh"></div>

<div id="name" style="display:none;">
	<div class="end-name">
		INFINITE<br/>
		DOMAIN
	</div>

</div>
<div id="creator" style="display:none;">
	<div class="jeff">
		CREATED BY JEFF LAU
	</div>
</div>

<div id="feedback" style="display:none;">
	<div style="padding-top:50px"></div>
	
	<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#comment">Leave Feedback?</button>

	<div id="comment" class="collapse">
		<div style="padding-top:25px"></div>

		<iframe height="439" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://jefl2109.wufoo.com/embed/z9nkctb027vn7c/"></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>


	</div>
</div>

<div id="restart" style="display:none;">
	<div style="padding-top:50px"></div>
    <a class="start-button clickable" onclick="goBackHome()">
        <i class="fa fa-refresh" aria-hidden="true" style="font-size:1em;"></i>
    </a>  
    <div style="padding-bottom: 50px"></div>             
</div>