<!doctype html>


<script>
    $(function() {
        var options = {
          strings: ["^1000Hi Elaina,^1000\n\nIn case you are unaware,^1000 I got fired last Friday.^1000 I just want to let you know that it has been a pleasure working with you the past 10 months.^1000 I have enjoyed our morning coffee breaks.^1000 It has been something I look forward to every morning.^2000\n\nI never got a chance to say this,^1000 but I always liked you.^2000 I was too shy to come out and say it,^1000 and now that we don’t work together, maybe we can get coffee outside the office?^1000 Sorry for contacting you through your work email,^1000 this is my only way of reaching you.^2000 Can I get your number?^1000 I’ll be less constrained as to what I can say without the company lurking in the background, haha.^1000\n\nI’ll be awaiting your response.^1000 You can reach me under this email or my cell @ 415-753-5255.^2000\n\n-Walt"],
          typeSpeed: 0, contentType: 'text'
        }
        $("#compose-elaina").click(function() {
          $(".element").typed(options);
        });
    });
</script>


<div class="timeline" style="height:30px"></div>
<div class="stamp">8<span>:</span>12<span>:</span>12 AM</div>
<div class="timeline" style="height:7px"></div>

<div class="appContainer">
  <a><img src="/images/icons/gmail.png" class="app" data-toggle="modal" data-target="#gmail2" data-backdrop="true" data-keyboard="true" id="compose-elaina"></a>
  <p class="appName">Gmail</p>
</div>



<!-- Modal -->
<div id="gmail2" class="modal fade gmail" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <img src="/images/gmailcompose.jpg" class="fitInModal disable-mouse">
            <div class="gmailButton">
                <div class="gmail-flex-container">
                    <div class="gmail-flex-item-right gmail-compose">To:</div>
                    <div class="gmail-flex-item" style="text-align:left;padding-top:15px;">
                        <button type="button" class="btn btn-success btn-xs" >Elaina Jodi</button>                       
                    </div>  
                </div>   
                <hr/>
                <div class="gmail-flex-container">
                    <div class="gmail-flex-item-right gmail-compose">Cc/Bcc:</div>  
                </div>   
                <hr/>   
                <div class="gmail-flex-container">
                    <div class="gmail-flex-item-right gmail-compose">Subject:</div>
                    <div class="gmail-flex-item" style="text-align:left;padding-top:15px;">Coffee?</div>  
                </div>   
                <hr/>        
                <div style="text-align: left;padding:15px"><span class="element" style="white-space:pre-line"></span></div>
            </div>                                           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="page2_3" value="true">Send</button>
      </div>
    </div>
  </div>
</div>
<script src="typed.js"></script>


<div id="append_page2_2"></div>