<!doctype html>

<html>
{{>head}}


<body id="background">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="menuBar">Infinite<span><i class="fa fa-eye" aria-hidden="true" style="font-size:.8em;padding-left:2px;padding-right:2px;"></i></span>Domain</div>
                <div class="waltDisplay">
                    <!-- content of story goes here -->
                    
                    <div class="appDisplay" id="div1">
                        {{>page12}}              

                            
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/walt.js"></script>
</body>
</html>
