<!doctype html>

<div class="timeline" style="height:66px"></div>
<div class="stamp">8<span>:</span>51<span>:</span>13 AM</div>
<div class="timeline" style="height:7px"></div>

<script>

function loadSMS1() {
    $("#sms01").delay(10).fadeIn();
    $(".smsrefresh1").remove();
    scrollToBottom();
}

function loadSMS2() {
    $("#sms02").delay(10).fadeIn();
    $(".smsrefresh2").remove();
    scrollToBottom();
}

function loadSMS3() {
    $("#sms03").delay(10).fadeIn();
    $(".smsrefresh3").remove();
    scrollToBottom();
}

function loadSMS4() {
    $("#sms04").delay(10).fadeIn();
    $(".smsrefresh4").remove();
    scrollToBottom();
}

function loadSMS5() {
    $("#sms05").delay(10).fadeIn();
    $(".smsrefresh5").remove();
    scrollToBottom();
}

function loadSMS6() {
    $("#sms06").delay(10).fadeIn();
    $(".smsrefresh6").remove();
    scrollToBottom();
}

function loadSMS7() {
    $("#sms07").delay(10).fadeIn();
    $(".smsrefresh7").remove();
    scrollToBottom();
}

function loadSMS8() {
    $("#sms08").delay(10).fadeIn();
    $(".smsrefresh8").remove();
    scrollToBottom();
}
</script>

<html>
<div class="appContainer">
    <a><img src="/images/icons/text.png" class="app" data-toggle="modal" data-target="#text" data-backdrop="true" data-keyboard="true" id="sms"></a>
    <p class="appName">SMS</p>
</div>  

<!-- Modal -->
<div id="text" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="txtHeader">
            <i class="fa fa-comments"></i> <img src="/images/ppl/dana.jpg">Dana Song
        </div>
        <div class="textContainer">
        
            <div id="sms01" style="display:none;">
                <div class="sent">
                    <p>Hey Dana, do you know what happened to Elaina?
                        <div class="time">8:51 AM</div>
                    </p>
                </div>
                <button class="buttonRefresh smsrefresh2" onclick="loadSMS2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>

            <div id="sms02" style="display:none;">
                <div class="sent">
                    <p>Her email says she doesn't work at ZenTech anymore.
                        <div class="time">8:51 AM</div>
                    </p>
                </div>
                <button class="buttonRefresh smsrefresh3" onclick="loadSMS3()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>

            <div id="sms03" style="display:none;">
                <div class="received">
                    <p>Hi-ya Walt! Yea, she got let go this morning. I saw her leave Rob’s office, packed her things and left.
                        <div class="time">8:53 AM</div>
                    </p>
                </div>
                <button class="buttonRefresh smsrefresh4" onclick="loadSMS4()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>

            <div id="sms04" style="display:none;">
                <div class="received">
                    <p>The office is kind of tense right now. Apparently, we got acquired by this company named infinite domain last week. Does that name sound familiar to you?
                        <div class="time">8:54 AM</div>
                    </p>
                </div>
                <button class="buttonRefresh smsrefresh5" onclick="loadSMS5()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>

            <div id="sms05" style="display:none;">
                <div class="sent">
                    <p>Hm, no I never heard of them.
                        <div class="time">8:56 AM</div>
                    </p>
                </div>
                <button class="buttonRefresh smsrefresh6" onclick="loadSMS6()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>

            <div id="sms06" style="display:none;">
                <div class="received">
                    <p>I think they might be responsible for letting everyone go... I miss you by the way!
                        <div class="time">8:57 AM</div>
                    </p>
                </div>
                <button class="buttonRefresh smsrefresh7" onclick="loadSMS7()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>

            <div id="sms07" style="display:none;">
                <div class="received">
                    <p>Oh shit, Rob's here. Can’t talk.
                        <div class="time">8:57 AM</div>
                    </p>
                </div>
                <button class="buttonRefresh smsrefresh8" onclick="loadSMS8()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>

            <div id="sms08" style="display:none;">
                <div class="received">
                    <p>I’ll text you after work! <img class="emoji" src="/images/emoji/smileemoji.png">
                        <div class="time">8:58 AM</div>
                    </p>
                </div>
            </div>

            <button class="buttonRefresh smsrefresh1" onclick="loadSMS1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>                        
        </div>

<!--    
        <div class="textBox">
            <span class="textElement"></span>
            <i class="fa fa-send"></i> 
        </div> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="page3_1">Close</button>
      </div>
    </div>
  </div>
</div>  

<div id="append_page3_1"></div>