<!doctype html>

<div class="timeline" style="height:21px"></div>
<div class="stamp">8<span>:</span>55<span>:</span>13 AM</div>
<div class="timeline" style="height:7px"></div>

<ul class="list-group" style="margin:5px;">
    <li class="list-group-item" style="background:#619B1E;padding: 4px">
        <div class="note-flex-container">
          <div class="note-left">
            <div style="text-align: left;flex-grow: 1;">
              <img class="incoming-photo" src="/images/ppl/arthur-ico.jpg">
            </div>
          </div>

            <div class="note-flex-column incoming-name">
              <div style="text-align: left;flex-grow: 5;padding-top: 25px;font-size:1.3em">Mom</div> 
              <div style="text-align: left;flex-grow: 5"><i class="fa fa-home" aria-hidden="true"></i> 415-518-5753</div>
            </div>

            <div class="note-flex-column">
              <div style="text-align: right;flex-grow: 2" class="incoming-call">
          Incoming Call
              <div class="loading_dots">
            <span></span>
            <span></span>
            <span></span>
          </div>                
              </div>  
            </div>            
        </div>

          <a id="page3_2"><img src="/images/phone.jpg" class="answer-buttons"><br/></a>

    </li>
</ul> 

<div id="append_page3"></div>