<!doctype html>

<script>

    // google search
    function loadSearch1() {
        $("#first-search").delay(10).fadeIn();
        $("#search-btn1").remove();
    }

    function loadSearch2() {
        $("#second-search").delay(10).fadeIn();
        $("#search-btn2").remove();
    }

    function loadSearch3() {
        $("#3-search").delay(10).fadeIn();
        $("#search-btn3").remove();
    }    

    function loadSearch4() {
        $("#4-search").delay(10).fadeIn();
        $("#search-btn4").remove();
    }   

    function loadSearch5() {
        $("#5-search").delay(10).fadeIn();
        $("#search-btn5").remove();
    }    

    // 2nd google search
    function loadSearch2_1() {
        $("#2-1-search").delay(10).fadeIn();
        $("#search-btn2-1").remove();
    }

    function loadSearch2_2() {
        $("#2-2-search").delay(10).fadeIn();
        $("#search-btn2-2").remove();
    }   

    function loadSearch2_3() {
        $("#2-3-search").delay(10).fadeIn();
        $("#search-btn2-3").remove();
    } 

    function loadSearch2_4() {
        $("#2-4-search").delay(10).fadeIn();
        $("#search-btn2-4").remove();
    }    

    function loadSearch2_5() {
        $("#2-5-search").delay(10).fadeIn();
        $("#search-btn2-5").remove();
    }    

    function loadSearch2_6() {
        $("#2-6-search").delay(10).fadeIn();
        $("#search-btn2-6").remove();
    }      

    // sms response
    function loadSMS1() {
        $("#sms01").delay(10).fadeIn();
        $(".smsrefresh1").remove();
        scrollToBottom();
    }

    function loadSMS2() {
        $("#sms02").delay(10).fadeIn();
        $(".smsrefresh2").remove();
        scrollToBottom();
    }

    function loadSMS3() {
        $("#sms03").delay(10).fadeIn();
        $(".smsrefresh3").remove();
        scrollToBottom();
    }

    function loadSMS4() {
        $("#sms04").delay(10).fadeIn();
        $(".smsrefresh4").remove();
        scrollToBottom();
    }

    function loadSMS5() {
        $("#sms05").delay(10).fadeIn();
        $(".smsrefresh5").remove();
        scrollToBottom();
    }   

    // load pages
    function loadPage6_1() { 
        $("#append_page6_1").delay(100).fadeIn();
        scrollToBottom();      
    } 

    function loadPage6_2() { 
        $("#append_page6_2").delay(100).fadeIn();
        scrollToBottom();      
    }     

    function loadPage6_3() { 
        $("#append_page6_3").delay(100).fadeIn();
        scrollToBottom();      
    }    

    function loadPage6_4() { 
        $("#append_page6_4").delay(100).fadeIn();
        scrollToBottom();      
    }   

    function loadPage6_5() { 
        $("#append_page6_5").delay(100).fadeIn();
        scrollToBottom();      
    }           
</script>
<!-- ############################# START Google Search START ############################# -->

<div class="timeline" style="height:96px"></div>
<div class="stamp">11<span>:</span>13<span>:</span>37 AM</div>
<div class="timeline" style="height:7px"></div>

<html>
<div class="appContainer">
    <a><img src="/images/icons/google.png" class="app" data-toggle="modal" data-target="#search" data-backdrop="true" data-keyboard="true"></a>
    <p class="appName">Google</p>
</div>  

<!-- Modal -->
<div id="search" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <img src="/images/search-header.jpg" class="fitInModal disable-mouse">
        <!-- div class to introduce app -->
        <div class="search-header">
            <h1>Web & App Activity</h1>
            <h2>Check out your past searches and the content you've browsed in Chrome and other apps</h2>
        </div>
        <div style="padding-top:15px;"></div>
        <img src="/images/search-card.jpg" style="padding:5px;width:95%">
        <div style="padding-bottom:15px;"></div>  

        <div class="refresh"><button class="buttonRefresh" id="search-btn1" onclick="loadSearch1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>


        <!-- fifth search -->
        <div id="5-search" style="display:none;">
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search8" class="clickable">I AmA Bankruptcy Lawyer and Student Loans are Killing Millennials and the Middle Class. AMA!</u></h3>

                    <div id="search8" class="collapse search-collapse">
                        <h4>reddit.com</h4>
                    </div>

                    <h2>11:28am</h2>
                </div>
            </div>
            <hr/>     
        </div> 

        <!-- fourth search -->
        <div id="4-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn5" onclick="loadSearch5()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
        
            
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search4" class="clickable">I Asked an Expert What Would Happen if I Just Stopped Paying My Student Loans | VICE | United States</h3></h1>

                    <div id="search4" class="collapse search-collapse">
                        <h4>vice.com</h4>
                    </div>

                    <h2>11:22am</h2>
                </div>
            </div>
            <hr/>
        </div>

        <!-- third search -->
        <div id="3-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn4" onclick="loadSearch4()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

            
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search3" class="clickable">&ldquo;what happens if i ignore my student loans&rdquo;</u></h1>
                    <div id="search3" class="collapse search-collapse">
                        <h1>About 1,890,000 results (0.70 seconds)</h1>
                    </div>                     
                    <h2>11:20am</h2>
                </div>
            </div>
            
            <hr/>     
        </div> 

        <!-- second search -->
        <div id="second-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn3" onclick="loadSearch3()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search2" class="clickable">&ldquo;low interest loans&rdquo;</u></h1>
                    <div id="search2" class="collapse search-collapse">
                        <h1>About 1,890,000 results (0.70 seconds)</h1>
                    </div>  
                    <h2>11:17am</h2>
                </div>
            </div>
            <hr/>
        </div>

        <!-- first search -->
        <div id="first-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn2" onclick="loadSearch2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search1" class="clickable">Avoid Delinquency and Default | Navient Student Loan Repayment</h3></h1>

                    <div id="search1" class="collapse search-collapse">
                        <h4>navient.com</h4>
                    </div>

                    <h2>11:13am</h2>
                </div>
            </div>
            <hr/>     
        </div>   



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage6_1()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ############################# END Google Search END ############################# -->
<!-- ############################# START Instagram START ############################# -->
<div id="append_page6_1" style="display:none;">
    <div class="timeline" style="height:162px"></div>
    <div class="stamp">11<span>:</span>40<span>:</span>51 AM</div>
    <div class="timeline" style="height:7px"></div>

    <html>
    <div class="appContainer">
        <a><img src="/images/icons/instagram.png" class="app" data-toggle="modal" data-target="#insta" data-backdrop="true" data-keyboard="true"></a>
        <p class="appName">Instagram</p>
    </div>  

    <!-- Modal -->
    <div id="insta" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <div class="insta-header">
                <i class="fa fa-angle-left" aria-hidden="true" data-dismiss="modal" onclick="loadPage4_1()"></i>
                <h1>stacybear212<i class="fa fa-ellipsis-h" aria-hidden="true"></i></h1>
            </div>

                <div class="insta-container">
                    <div class="insta-item-photo">
                        <img src="/images/insta/stacy-circle.png">
                    </div>

                    <!-- instagram stats container -->
                    <div class="insta-item-stats-container">
                        <div class="insta-item-stats-items">
                            <h1>457</h1>
                        </div>
                        <div class="insta-item-stats-items">
                            <h2>post</h2>
                        </div>  

                    </div>

                    <div class="insta-item-stats-container">
                        <div class="insta-item-stats-items">
                            <h1>791</h1>
                        </div>
                        <div class="insta-item-stats-items">
                            <h2>followers</h2>
                        </div>                                       
                    </div>

                    <div class="insta-item-stats-container">
                        <div class="insta-item-stats-items">
                            <h1>210</h1>
                        </div>
                        <div class="insta-item-stats-items">
                            <h2>following</h2>
                        </div>                                       
                    </div>  
                    <br/>                          
                </div>

                    <img src="/images/insta/insta-following.jpg" class="follow">

     
                <div class="insta-info" style="padding-top: 10px"><b>Stacy Liu</b></div>
                <div class="insta-info">UCSD'15 <img class="emoji" src="/images/emoji/home.png">NorCal -> San Diego<img class="emoji" src="/images/emoji/sunsout.png"> <br/>travel<img class="emoji" src="/images/emoji/plane.png"> food<img class="emoji" src="/images/emoji/burger.png"> friends<img class="emoji" src="/images/emoji/girls.png"> drinks<img class="emoji" src="/images/emoji/drink.png"> Appreciate the small things in life.<img class="emoji" src="/images/emoji/sun.png"> </div>
                <div style="padding:8px"></div>
                <img src="/images/insta/insta-top.jpg" class="fitInModal">

                <div class="insta-thumb">
                    <img src="/images/insta/insta6.jpg" data-toggle="modal" data-target="#insta1" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta5.jpg" data-toggle="modal" data-target="#insta2" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta4.jpg" data-toggle="modal" data-target="#insta3" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta2.jpg" data-toggle="modal" data-target="#insta4" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta3.jpg" data-toggle="modal" data-target="#insta5" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta1.jpg" data-toggle="modal" data-target="#insta6" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta10.jpg" data-toggle="modal" data-target="#insta7" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta8.jpg" data-toggle="modal" data-target="#insta8" data-backdrop="true" data-keyboard="true" class="clickable">
                    <img src="/images/insta/insta7.jpg" data-toggle="modal" data-target="#insta9" data-backdrop="true" data-keyboard="true" class="clickable">
                </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage6_2()">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- photo 1 -->
    <div class="insta-fitInModal">
        <div id="insta1" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        North Park Community Park <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta6.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>36 likes</strong><br/>
                    <strong>stacybear212</strong> Beautiful day for some Coke Zero and cards. <img class="emoji" src="/images/emoji/sun.png"> <u>#coke #cocacola #cokezero #cards</u><br/>
                    <h1>16 MINUTES AGO</h1>
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 2 -->
    <div class="insta-fitInModal">
        <div id="insta2" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        Mango Studio <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta5.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>96 likes</strong><br/>
                    <strong>stacybear212</strong> Mango Studio just opened next to my office. Delish! <img class="emoji" src="/images/emoji/pray.png"><img class="emoji" src="/images/emoji/hand.png"> <u>#mangostudio #mango #smoothie #breakfastforchampions</u><br/>
                    <h1>45 MINUTES AGO</h1>
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 3 -->
    <div class="insta-fitInModal">
        <div id="insta3" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        World Market <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta4.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>116 likes</strong><br/>
                    <strong>stacybear212</strong> OMG, World Market has Fritz-Kola in stock!!! <u>#fritzkola #worldmarket #berlin #germany #cola #coke</u><br/>
                    <h1>1 HOUR AGO</h1>            
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 4 -->
    <div class="insta-fitInModal">
        <div id="insta4" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        Forever 21 <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta2.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>76 likes</strong><br/>
                    <strong>stacybear212</strong> So cute! Huge sale at Forever 21!! <u>#forever21 #mirrors #shopping #fashion</u><br/>
                    <h1>1 HOUR AGO</h1>            
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 5 -->
    <div class="insta-fitInModal">
        <div id="insta5" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        Whole Foods <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta3.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>121 likes</strong><br/>
                    <strong>stacybear212</strong> My skin has been glowing ever since I started drinking this juice. The best! <img class="emoji" src="/images/emoji/delish.png"> <u>#marksandspencer #morningjuice #pineapple #watermelon #aloe #juice #healthiswealth</u><br/>
                    <h1>1 HOUR AGO</h1>            
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 6 -->
    <div class="insta-fitInModal">
        <div id="insta6" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        M&M's World - Las Vegas <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta1.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>168 likes</strong><br/>
                    <strong>stacybear212</strong> Ahhh, bring me back. I love M&Ms! <img class="emoji" src="/images/emoji/heartemoji.png"> <u>#mmsworld #mms #chocolate #vegas #lasvegas</u><br/>
                    <h1>1 HOUR AGO</h1>            
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 7 -->
    <div class="insta-fitInModal">
        <div id="insta7" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        Target <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta10.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>98 likes</strong><br/>
                    <strong>stacybear212</strong> My spirit animal  <img class="emoji" src="/images/emoji/heartemoji.png"> <u>#minions #despicableme #gru #universalstudios #illumination #cute #spiritanimal</u><br/>
                    <h1>1 HOUR AGO</h1>            
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 8 -->
    <div class="insta-fitInModal">
        <div id="insta8" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        Starbucks <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta8.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>98 likes</strong><br/>
                    <strong>stacybear212</strong> No better way to start my morning. I love my gold card! <img class="emoji" src="/images/emoji/coffee.png"> <u>#starbucks #goldcard #short #small #coffee #javaholic #mondaymorning</u><br/>
                    <h1>2 HOUR AGO</h1>            
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- photo 9 -->
    <div class="insta-fitInModal">
        <div id="insta9" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">
                <div class="insta-view-header">
                    <div class="insta-view-item-photo"><img src="/images/insta/stacy-circle.png"></div>
                    <div class="insta-name">
                        <strong>stacybear212</strong><br/>
                        Big Kahuna’s Ice Cream <strong style="color:#b2b2b2">></strong>
                    </div>
                </div>
                <img src="/images/insta/insta7.jpg" class="fitInModal">
                <img src="/images/insta/insta-like.jpg" class="fitInModal">
                <div class="insta-likes">
                    <i class="fa fa-heart" aria-hidden="true"></i> <strong>197 likes</strong><br/>
                    <strong>stacybear212</strong> Shaved ice after our hike! <img class="emoji" src="/images/emoji/heartemoji.png"> <u>#valentinesday #valentines #shavedice #sundayfunday</u><br/>Thanks <u>@wallywalt28</u>!<br/>
                    <h1>1 DAY AGO</h1>            
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- ############################# END Instagram END ############################# -->

<!-- ############################# START Facebook START ############################# -->
<div id="append_page6_2" style="display:none;">

    <div class="timeline" style="height:78px"></div>
    <div class="stamp">11<span>:</span>53<span>:</span>27 AM</div>
    <div class="timeline" style="height:7px"></div>
    <div class="appContainer">
      <a><img src="/images/icons/facebook.png" class="app" data-toggle="modal" data-target="#facebook" data-backdrop="true" data-keyboard="true"></a>
      <p class="appName">Facebook</p>
    </div>



    <!-- Modal -->
    <div id="facebook" class="modal fade " role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/fb-header.jpg" class="fitInModal disable-mouse">
            <div class="cover-photo"></div>
            <div class="move-up">
              <img src="/images/fb-profile.jpg" style="width:130px"><br/>
              <div class="fb-name">Stacy Liu</div>
              <img src="/images/fb-stat.jpg" class="fitInModal disable-mouse">

              <div style="padding: 5px;padding-top:15px;"></div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  SEO Specialist
                </div>
              </div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  Studied Political Science at University of California, San Diego
                </div>
              </div>

              <div class="fetch-flex-container">
                <div class="fb-flex-item">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="fb-flex-item2">
                  Lives in San Diego, California
                </div>
              </div>   

              <div style="padding: 5px;padding-top:15px;"></div>                 

              <img src="/images/fb-menu.jpg" class="fitInModal disable-mouse">

              <div class="fb-body">
                <div class="fb-status-flex-container">
                    <div style="width:20%">
                        <img src="/images/fb-profile.jpg" style="width:65px">
                    </div>
                    <div style="width:80%">
                        <strong style="color:#3B5998">Stacy Liu</strong> went from being "in a relationship" to "single."<br/>
                        <i class="fa fa-heart" aria-hidden="true" style="color: #DA5F5F"></i> 22 minutes ago • <font color="#8189A5">Like</font> • <font color="#8189A5">Comment</font>
                    </div>
                </div>
              </div>

            </div>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage6_3()">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
<!-- ############################# END Facebook END ############################# -->

<!-- ############################# START Google Search START ############################# -->
<div id="append_page6_3" style="display:none;">

    <div class="timeline" style="height:84px"></div>
    <div class="stamp">12<span>:</span>07<span>:</span>08 PM</div>
    <div class="timeline" style="height:7px"></div>

    <html>
    <div class="appContainer">
        <a><img src="/images/icons/google.png" class="app" data-toggle="modal" data-target="#search-2" data-backdrop="true" data-keyboard="true"></a>
        <p class="appName">Google</p>
    </div>  

    <!-- Modal -->
    <div id="search-2" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/search-header.jpg" class="fitInModal disable-mouse">
            <!-- div class to introduce app -->
            <div class="search-header">
                <h1>Web & App Activity</h1>
                <h2>Check out your past searches and the content you've browsed in Chrome and other apps</h2>
            </div>
            <div style="padding-top:15px;"></div>
            <img src="/images/search-card.jpg" style="padding:5px;width:95%">
            <div style="padding-bottom:15px;"></div>  

            <div class="refresh"><button class="buttonRefresh" id="search-btn2-1" onclick="loadSearch2_1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>


            <!-- 5 search -->
            <div id="2-6-search" style="display:none;">

                <div class="search-flex-container">
                    <div class="search-flex-left"><input type="checkbox"></div>
                    <div class="search-flex-right">
                        <h1>Visited <h3 data-toggle="collapse" data-target="#search2_6" class="clickable">Millennials' Use of Social Media Linked to Depression</h3></h1>

                        <div id="search2_6" class="collapse search-collapse">
                            <h4>breitbart.com</h4>
                        </div>

                        <h2>12:39am</h2>
                    </div>
                </div>
                <hr/>
            </div> 

            <!-- 5 search -->
            <div id="2-5-search" style="display:none;">
                <div class="refresh"><button class="buttonRefresh" id="search-btn2-6" onclick="loadSearch2_6()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                <div class="search-flex-container">
                    <div class="search-flex-left"><input type="checkbox"></div>
                    <div class="search-flex-right">
                        <h1>Visited <h3 data-toggle="collapse" data-target="#search2_5" class="clickable">What is depression? You asked Google – here's the answer | The Guardian</h3></h1>

                        <div id="search2_5" class="collapse search-collapse">
                            <h4>theguardian.com</h4>
                        </div>

                        <h2>12:27pm</h2>
                    </div>
                </div>
                <hr/>
            </div> 

            <!-- 4 search -->
            <div id="2-4-search" style="display:none;">
                <div class="refresh"><button class="buttonRefresh" id="search-btn2-5" onclick="loadSearch2_5()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                <div class="search-flex-container">
                    <div class="search-flex-left"><input type="checkbox"></div>
                    <div class="search-flex-right">
                        <h1>Visited <h3 data-toggle="collapse" data-target="#search2_4" class="clickable">Cognitive behavioral therapy - Wikipedia</h3></h1>

                        <div id="search2_4" class="collapse search-collapse">
                            <h4>wikipedia.org</h4>
                        </div>

                        <h2>12:17pm</h2>
                    </div>
                </div>
                <hr/>
            </div>        

            <!-- 3 search -->
            <div id="2-3-search" style="display:none;">
                <div class="refresh"><button class="buttonRefresh" id="search-btn2-4" onclick="loadSearch2_4()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                <div class="search-flex-container">
                    <div class="search-flex-left"><input type="checkbox"></div>
                    <div class="search-flex-right">
                        <h1>Searched for <u data-toggle="collapse" data-target="#search2_3" class="clickable">&ldquo;thoughts of hurting myself&rdquo;</u></h1>
                        <div id="search2_3" class="collapse search-collapse">
                            <h1>About 2,000,000 results (0.50 seconds)</h1>
                        </div>                     
                        <h2>12:15pm</h2>
                    </div>
                </div>
                <hr/>     
            </div>   

            <!-- 2 search -->
            <div id="2-2-search" style="display:none;">
                <div class="refresh"><button class="buttonRefresh" id="search-btn2-3" onclick="loadSearch2_3()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                <div class="search-flex-container">
                    <div class="search-flex-left"><input type="checkbox"></div>
                    <div class="search-flex-right">
                        <h1>Searched for <u data-toggle="collapse" data-target="#search2_2" class="clickable">&ldquo;chest feels heavy&rdquo;</u></h1>
                        <div id="search2_2" class="collapse search-collapse">
                            <h1>About 14,000,000 results (0.39 seconds)</h1>
                        </div>                     
                        <h2>12:10pm</h2>
                    </div>
                </div>
                <hr/>     
            </div>   

            <!-- 1 search -->
            <div id="2-1-search" style="display:none;">
                <div class="refresh"><button class="buttonRefresh" id="search-btn2-2" onclick="loadSearch2_2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                <div class="search-flex-container">
                    <div class="search-flex-left"><input type="checkbox"></div>
                    <div class="search-flex-right">
                        <h1>Searched for <u data-toggle="collapse" data-target="#search2_1" class="clickable">&ldquo;shallow breathing&rdquo;</u></h1>
                        <div id="search2_1" class="collapse search-collapse">
                            <h1>About 4,560,000 results (0.45 seconds)</h1>
                        </div>                     
                        <h2>12:07pm</h2>
                    </div>
                </div>
                <hr/>     
            </div>   



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage6_4()">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
<!-- ############################# END Google Search END ############################# -->

<!-- ############################# START Texts Drug Dealer START ############################# -->
<div id="append_page6_4" style="display:none;">
    <div class="timeline" style="height:210px"></div>
    <div class="stamp">12<span>:</span>42<span>:</span>01 PM</div>
    <div class="timeline" style="height:7px"></div>

    <html>
    <div class="appContainer">
        <a><img src="/images/icons/text.png" class="app" data-toggle="modal" data-target="#text" data-backdrop="true" data-keyboard="true" id="sms"></a>
        <p class="appName">SMS</p>
    </div>  

    <!-- Modal -->
    <div id="text" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <div class="txtHeader">
                <i class="fa fa-comments"></i> <img class="txt-ico" src="/images/ppl/arthur-ico.jpg">Ben A
            </div>
            <div class="textContainer">
                <div class="sent">
                    <p>Hey man, can I pick up 2 grams from you?
                        <div class="time">10:46 AM</div>
                    </p>
                </div>  

                <div class="received">
                    <p>yo, for sure. of course man! ill be over in a lil bit <img class="emoji" src="/images/emoji/grinemoji.png">
                        <div class="time">10:50 AM</div>
                    </p>
                </div>    

                <div class="received">
                    <p><img class="emoji" src="/images/emoji/weedemoji1.png"><img class="emoji" src="/images/emoji/weedemoji2.png"><img class="emoji" src="/images/emoji/weedemoji3.png">
                        <div class="time">10:51 AM</div>
                    </p>
                </div>                      
            
                <div id="sms01" style="display:none;">
                    <div class="received">
                        <p>yooo walt. im outside
                            <div class="time">12:42 PM</div>
                        </p>
                    </div>
                    <button class="buttonRefresh smsrefresh2" onclick="loadSMS2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>

                <div id="sms02" style="display:none;">
                    <div class="sent">
                        <p>I'll be out in a sec.
                            <div class="time">12:43 PM</div>
                        </p>
                    </div>
                    <button class="buttonRefresh smsrefresh3" onclick="loadSMS3()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>

                <div id="sms03" style="display:none;">
                    <div class="received">
                        <p>imma charge you on venmo
                            <div class="time">12:48 PM</div>
                        </p>
                    </div>
                    <button class="buttonRefresh smsrefresh4" onclick="loadSMS4()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>   

                <div id="sms04" style="display:none;">
                    <div class="sent">
                        <p>Yea sure. Thanks again. I appreciate it.
                            <div class="time">12:48 PM</div>
                        </p>
                    </div>
                    <button class="buttonRefresh smsrefresh5" onclick="loadSMS5()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>   

                <div id="sms05" style="display:none;">
                    <div class="received">
                        <p>yeaaaa! of course man. let me know if you need anything else <img class="emoji" src="/images/emoji/sun.png"><img class="emoji" src="/images/emoji/thumb.png"><img class="emoji" src="/images/emoji/weedemoji1.png"><img class="emoji" src="/images/emoji/leaf.png">
                            <div class="time">12:49 PM</div>
                        </p>
                    </div>
                </div>                                        

                <button class="buttonRefresh smsrefresh1" onclick="loadSMS1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>                        
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage6_5()">Close</button>
          </div>
        </div>
      </div>
    </div>    
</div>
<!-- ############################# END Texts Drug Dealer END ############################# -->

<div id="append_page6_5" style="display:none;">
    <div style="padding-top:50px;"></div>
    <button class="next-button" id="page7">
        <div class="blink"><span><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></span></div>
    </button>
    <div style="padding-bottom:50px;"></div>
</div>

<div style="padding:50px;"></div>