<!doctype html>
<script>
$(document).ready(function(){
    initialise();  
});

function initialise()
{
    $("#btn1").click(function(){
        $( "div.refresh01" ).replaceWith( "<div class=\"received\"><p>Can't talk right now. It's a little tense in the office. I'll hit you up when things settle down...<div class=\"time\">7:20 PM</div></p></div>" );
        initialise();
    });
    
/* Use below as template
<div class=\"received\"><p>Can't talk right now. It's a little tense in the office right now. I'll hit you up when things settle down...<div class=\"time\">7:20 PM</div></p></div><div class=\"refresh02\"><button class=\"buttonRefresh\" id=\"btn2\"><i class=\"fa fa-refresh fa-spin\" aria-hidden=\"true\"></i></button></div>
*/    
}
</script>

<div class="timeline" style="height:25px"></div>
<div class="stamp">8<span>:</span>16<span>:</span>45 AM</div>
<div class="timeline" style="height:7px"></div>

<html>
<div class="appContainer">
  <a><img src="/images/icons/gmail.png" class="app" data-toggle="modal" data-target="#gmail3" data-backdrop="true" data-keyboard="true"></a>
  <p class="appName">Gmail</p>
</div>



<!-- Modal -->
<div id="gmail3" class="modal fade gmail" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-body">

            <img src="/images/gmail-header.jpg" class="fitInModal disable-mouse">

            <!-- autoresponse email -->
            <div class="clickable gmailButton autoresponse-email" data-toggle="collapse" data-target="#inbox2">
                <hr/>
                <div class="gmail-flex-container">
                    <div class="gmail-checkbox"><input type="checkbox" value=""></div>

                    <div class="gmail-flex-item gmailHeader" style="text-align: left" id="autoresponse">[Automated Response] RE: Emergency!</div>
                    <div class="gmail-flex-item-right gmailTime">8:15 am</div>  
                </div>  
                <div class="gmail-flex-container">
                    <div class="gmail-flex-item gmailSubtext">Hello, Thank you for contacting ZenTech. We regret to i...</div>
                    <div class="gmail-flex-item-right gmailHeart"><i class="fa fa-star-o" aria-hidden="true"></i></div> 
                </div>  
                <hr/>
            </div>

            <div id="inbox2" class="collapse">
                <div class="gmailBody">
                    {{>gmailAuto}}

                </div>
            </div>  

            <!-- fired email -->
            <div class="clickable gmailButton" data-toggle="collapse" data-target="#inbox3">
                <hr/>
                <div class="gmail-flex-container">
                    <div class="gmail-checkbox"><input type="checkbox" value=""></div>

                    <div class="gmail-flex-item gmailHeader removeBold" style="text-align: left" >ZenTech Termination Notice</div>
                    <div class="gmail-flex-item-right gmailTime">7:49 am</div>  
                </div>  
                <div class="gmail-flex-container">
                    <div class="gmail-flex-item gmailSubtext">Hello Walter, Upon further investigations, we are lead to...</div>
                    <div class="gmail-flex-item-right gmailHeart"><i class="fa fa-star-o" aria-hidden="true"></i></div> 
                </div>  
                <hr/>
            </div>

            <div id="inbox3" class="collapse">
                <div class="gmailBody">
                    {{>gmailFired}}

                </div>
            </div>                                

        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="page2_4" value="true">Close</button>
      </div>
    </div>
  </div>
</div>
 
<script>
$(document).ready(function(){
    unBold();
});

function unBold() {
    $(".firedEmail").click(function() {
        $('#firedHeader').addClass('removeBold');
        unBold();
    }); 
    $(".autoresponse-email").click(function() {
        $('#autoresponse').addClass('removeBold');
        unBold();
    }); 

}

</script>

<div id="append_page2_3"></div>
	
