<!doctype html>

<div class="timeline" style="height:21px"></div>
<div class="stamp">8<span>:</span>55<span>:</span>13 AM</div>
<div class="timeline" style="height:7px"></div>

<!doctype html>
<script>
$(document).ready(function(){
    initialise();  
});

function initialise()
{
    $("#btn1").click(function(){
        $( "div.refresh01" ).replaceWith( "<div class=\"received\"><p>Can't talk right now. It's a little tense in the office. I'll hit you up when things settle down...<div class=\"time\">7:20 PM</div></p></div>" );
        initialise();
    });
    
/* Use below as template
<div class=\"received\"><p>Can't talk right now. It's a little tense in the office right now. I'll hit you up when things settle down...<div class=\"time\">7:20 PM</div></p></div><div class=\"refresh02\"><button class=\"buttonRefresh\" id=\"btn2\"><i class=\"fa fa-refresh fa-spin\" aria-hidden=\"true\"></i></button></div>
*/    
}
</script>

<html>
<div class="appContainer">
    <a><img src="/images/icons/text.png" class="app" data-toggle="modal" data-target="#text" data-backdrop="true" data-keyboard="true" id="sms"></a>
    <p class="appName">SMS</p>
</div>  

<!-- Modal -->
<div id="text" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="txtHeader">
            <i class="fa fa-comments"></i> <img src="/images/ppl/arthur-ico.jpg">Arthur C
        </div>
        <div class="textContainer">
            <div class="sent">
                <p>Hey, do you know what's happened? I got fired for "misconduct". What is this shit??
                    <div class="time">7:20 PM</div>
                </p>
            </div>
            <div class="refresh01"><button class="buttonRefresh" id="btn1"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>                        

        </div>

        <div class="textBox">
            <span class="textElement"></span>
            <i class="fa fa-send"></i> 
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="page3_2">Close</button>
      </div>
    </div>
  </div>
</div>  

<div id="append_page3"></div>