<!doctype html>

<html>
{{>head}}

<script>
    $(function() {
        var options = {
          strings: ["dMdbilhYdoy8WkHGa1HBA5gQj5oYRusOub4RfV41IoFgmpuKCSJ3nZX3OA7/jB2qfPiaJupDJsWNLzTYovthKM4q3Pv8ppjhLvlt2kYAuaY8VqJ9pcTWn6WiT6RXViiITOcouxwdLhqzEm515Z2v9tOmPoJF8YzNDQlbVGEkcto=M+3GlEKXoLIdh8EPhY7JaJD42KQpvfzxbxRde1wfycUISBJt0ZOrxNgU/6sPnMsnjJIDwTF8ztoiQ9bBVFLB2M8QExfjevFi7BkPiB9/PQXSu1t/HWJJgu6P90NKrjvJk5r82vDsGQRCMjJLYHDk3xPKoiQumPqE9C8TcuUdx5w=E2riovhI8p74StzkKKYxoFMWZghbXfZ0jNtG9qPJX0XQNCD2JU4mQtXML6kPkJDPKM0OIpIMKPCTfLcA02jkUvx9iWAfrkiFBdvXw5AsnmMaODLjLzi15H92ZLoyxopogeUDDsmRbR5pRkhA2mNJlZzQ84I0mYlpBJy63E9tido=OSPVG2xyWXC/AScLkShRvTSGstJ8PqTzjSCF5Yoe1OPozWV/vCUMmwxJxyYPjijEaKTZv6EnJ4uFcv04KHBcZNPr5ybEesYylz96mkM3pRbkLJw+q+l/OxMJZpHs/MiPlmujKVAmXck7DkmRY39UxW0PNrSqfHT0rXv3+YQNK7U=JR+4UgxqJL3QtOpG/tZX8dnA5/Fkpb36NC2QeyUDq7YmgxadQFs6s8RXeuFa+L0ZU3cNIs+rFXQDo262hZBDRV7YY8Jqh7vqf5lbUZuW4CLGlli3v8ctkmELGiTtRJIoMzNJ2ZpDXATCHEYbdKZRi8Dsj5Uy53Qau3Fl0FP1lZQ=VjyrAAUMCzQJ1ftZDM1rUfuCjjMUDS7u65vsTCt8GRKM1l7ea0707WIjuDccrmNhr5tABI+QhQugrzHcgoYHeX6D8+ZYpFf3OQFurSHiI80fajgOkoASZoYOBjS2oSrSxjGW4qSEyRRGWFsvU3DSp3cRAvmA18GY3sh7OhIILVQ=",""],
                typeSpeed: -5000, 
                backSpeed: -5000,
                contentType: 'text',
                backDelay: 0,
                loop: false,
                loopCount: false,
        }

          $(".element").typed(options);

    });


</script>
<body id="secure-background">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="menuBar">Infinite<span><i class="fa fa-eye" aria-hidden="true" style="font-size:.8em;padding-left:2px;padding-right:2px;"></i></span>Domain</div>
                <div class="secureDisplay">
                    <!-- content of story goes here -->
                    
                    <div class="appDisplay" id="div1">

                        <div class="secureText">
                            <!-- <center id="decrypt">Decrypting Key</center></br> -->
                            <span class="element wordwrap" style="white-space:pre-line"></span>
                        </div>

                        <script>
                            setTimeout(function(){
                                $("#div1").load("page11_3"); 
                                console.log("finished decryption");
                            }, 5000);
                        </script>
                        

                            
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/walt.js"></script>
</body>
</html>
