<!doctype html>

<div class="timeline" style="height:54px"></div>
<div class="stamp">8<span>:</span>40<span>:</span>13 AM</div>
<div class="timeline" style="height:7px"></div>

<html>
<div class="appContainer">
    <a><img src="/images/icons/google.png" class="app" data-toggle="modal" data-target="#search" data-backdrop="true" data-keyboard="true"></a>
    <p class="appName">Google</p>
</div>  

<!-- Modal -->
<div id="search" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <img src="/images/search-header.jpg" class="fitInModal disable-mouse">
        <!-- div class to introduce app -->
        <div class="search-header">
            <h1>Web & App Activity</h1>
            <h2>Check out your past searches and the content you've browsed in Chrome and other apps</h2>
        </div>
        <div style="padding-top:15px;"></div>
        <img src="/images/search-card.jpg" class="fitInModal" style="padding:5px;">
        <div style="padding-bottom:15px;"></div>

        <div class="note-flex-container">
            <div class="search-flex-left">
                <input type="checkbox" value="">
            </div>
            <div class="search-flex-right">
                <h1>Visited <u>"Amazon's private labels could hit Millennials' sweet spot"</u></h1>
                <h2>7:35pm</h2>
            </div>
        </div>
        <hr/>

        <div class="note-flex-container">
            <div class="search-flex-left">
                <input type="checkbox" value="">
            </div>
            <div class="search-flex-right">
                <h1>Searched for <u>"infinite domain"</u></h1>
                <h2>7:35pm</h2>
            </div>
        </div>
        <hr/>
       
     

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="page3_2">Close</button>
      </div>
    </div>
  </div>
</div>  

<div id="append_page3"></div>