<!doctype html>

<html>
{{>head}}


<body id="background">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="menuBar">Infinite<span><i class="fa fa-eye" aria-hidden="true" style="font-size:.8em;padding-left:2px;padding-right:2px;"></i></span>Domain</div>
                <div class="waltDisplay">
                    <!-- content of story goes here -->
                    
                    <div class="appDisplay" id="div1">
                        <script>
                            $(document).ready(function(){
                                $("#i0").delay(1000).fadeIn();
                                $("#i1").delay(2000).fadeIn();    
                            });            
                        </script>

                        <div id="i0" style="display:none;">
                            <div style="padding-top: 10vh"></div>
                            <p class="render-text">Start 3D capture on <br/></p>

                            <img src="/images/walt.png" style="width: 95px"><br/>  
                            <div style="padding-top: 5px"></div>
                            <p class="render-text"><strong>WALT110</strong></p>
                            <div style="padding-bottom: 15px"></div> 
                        </div>

                        <div id="i1" style="display:none;">
                            <a class="start-button clickable" id="scan-button">
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                            </a>  
                            <div style="padding-bottom: 50px"></div>             
                        </div>
                            
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/walt.js"></script>
</body>
</html>
