<!doctype html>
<script>
	document.getElementById("div1").style.backgroundColor = "#000";
	document.getElementById("background").style.backgroundColor = "#000";

	$(document).ready(function(){
	    $("#name").delay(3000).fadeIn();
	    $("#creator").delay(5000).fadeIn(); 
	    $("#feedback").delay(7000).fadeIn(); 
	    $("#restart").delay(10000).fadeIn();    
	});  

	function openForm(){
		$('#feedback-button').remove();
		$("#displayform").delay(10).fadeIn(); 
	}

	function goBackHome() {
		window.location.href = "./";
	} 
</script>
<div style="padding-top:10vh"></div>

<div id="name" style="display:none;">
	<div class="end-name">
		INFINITE<br/>
		DOMAIN
	</div>

</div>
<div id="creator" style="display:none;">
	<div class="jeff">
		CREATED BY JEFF LAU
	</div>
</div>

<div id="feedback" style="display:none;">
	<div style="padding-top:50px"></div>
	
	<button type="button" class="btn btn-default" onclick="openForm()" id="feedback-button">Leave Feedback?</button>

	<div id="displayform" style="display:none;">
		<iframe width="100%" height="505" allowTransparency="true" frameborder="0" scrolling="no" style="border:none" src="http://www.emailmeform.com/builder/embed/eweciaf4SlndXM3f"><a href="http://www.emailmeform.com/builder/embed/eweciaf4SlndXM3f">Fill out form.</a></iframe>
	</div>


</div>

<div id="restart" style="display:none;">
	<div style="padding-top:50px"></div>
    <a class="start-button clickable" onclick="goBackHome()">
        <i class="fa fa-refresh" aria-hidden="true" style="font-size:1em;"></i>
    </a>  
    <div style="padding-bottom: 50px"></div>             
</div>