<!doctype html>
<script>
	document.getElementById("div1").style.backgroundColor = "#000";
	document.getElementById("background").style.backgroundColor = "#000";

	$(document).ready(function(){
	    $("#name").delay(3000).fadeIn();
	    $("#creator").delay(5000).fadeIn(); 
	    $("#feedback").delay(7000).fadeIn(); 
	    $("#restart").delay(10000).fadeIn();    
	});  

	function goBackHome() {
		window.location.href = "./";
	} 
</script>
<div style="padding-top:10vh"></div>

<div id="name" style="display:none;">
	<div class="end-name">
		INFINITE<br/>
		DOMAIN
	</div>

</div>
<div id="creator" style="display:none;">
	<div class="jeff">
		CREATED BY JEFF LAU
	</div>
</div>

<div id="feedback" style="display:none;">
	<div style="padding-top:50px"></div>
	
	<a data-toggle="modal" data-target="#feedback-modal" data-backdrop="true" data-keyboard="true" class="clickable"><i class="fa fa-pencil fa-2x" aria-hidden="true" style="color:#fff"></i></a>

<!-- Modal -->
<div id="feedback-modal" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Leave Feedback</h4>
      </div>
      <div class="modal-body">
		<iframe width="100%" height="505" allowTransparency="true" frameborder="0" scrolling="no" style="border:none" src="http://www.emailmeform.com/builder/embed/eweciaf4SlndXM3f"><a href="http://www.emailmeform.com/builder/embed/eweciaf4SlndXM3f">Fill out form.</a></iframe>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>



</div>

<div id="restart" style="display:none;">
	<div style="padding-top:50px"></div>
    <a class="start-button clickable" onclick="goBackHome()">
        <i class="fa fa-refresh" aria-hidden="true" style="font-size:1em;"></i>
    </a>  
    <div style="padding-bottom: 50px"></div>             
</div>