<!doctype html>

<div class="timeline" style="height:72px"></div>
<div class="stamp">8<span>:</span>43<span>:</span>07 AM</div>
<div class="timeline" style="height:7px"></div>

<a id="page3_3" class="no-decorations clickable">
  <ul class="list-group" style="margin:5px;">
      <li class="list-group-item" style="background:#dbdbdb;padding: 4px">
          <div class="note-flex-container">
            <div class="note-left-missed-call">
              <div style="text-align: left;flex-grow: 1;">
                <img style="width: 50px;" src="/images/icons/mint.png">
              </div>
            </div>

              <div class="mint-left">
                <i class="fa fa-bell" aria-hidden="true"></i> Credit Card Bill Due in <font color="ff0000">5 days</font>
                <div style="text-align: left;font-size: .8em !important;"><font color="ff0000">-$363.84</font> due Feb 20, 2016 </div>
              </div>

              <div class="mint-right">
                  8:43 AM
              </div>            
          </div>
      </li>
  </ul> 
</a>

<div id="append_page3_2"></div>