<!doctype html>

<script>

    // google search
    function loadSearch1() {
        $("#first-search").delay(10).fadeIn();
        $("#search-btn1").remove();
    }

    function loadSearch2() {
        $("#second-search").delay(10).fadeIn();
        $("#search-btn2").remove();
    }

    function loadSearch3() {
        $("#3-search").delay(10).fadeIn();
        $("#search-btn3").remove();
    }    

    function loadSearch4() {
        $("#4-search").delay(10).fadeIn();
        $("#search-btn4").remove();
    }

    function loadSearch5() {
        $("#5-search").delay(10).fadeIn();
        $("#search-btn5").remove();
    }

    function loadSearch6() {
        $("#6-search").delay(10).fadeIn();
        $("#search-btn6").remove();
    }     

    function loadSearch7() {
        $("#7-search").delay(10).fadeIn();
        $("#search-btn7").remove();
    }

    function loadSearch8() {
        $("#8-search").delay(10).fadeIn();
        $("#search-btn8").remove();
    }     

    // facebook messenger
    function loadFB1() {
        $("#fbmessage-1").delay(10).fadeIn();
        $("#fb-btn1").remove();
        scrollToBottom();
    }
    function loadFB2() {
        $("#fbmessage-2").delay(10).fadeIn();
        $("#fb-btn2").remove();
        scrollToBottom();
    }    
    function loadFB3() {
        $("#fbmessage-3").delay(10).fadeIn();
        $("#fb-btn3").remove();
        scrollToBottom();
    }       
    function loadFB4() {
        $("#fbmessage-4").delay(10).fadeIn();
        $("#fb-btn4").remove();
        scrollToBottom();
    }
    function loadFB5() {
        $("#fbmessage-5").delay(10).fadeIn();
        $("#fb-btn5").remove();
        scrollToBottom();
    }
    function loadFB6() {
        $("#fbmessage-6").delay(10).fadeIn();
        $("#fb-btn6").remove();
        scrollToBottom();
    }
    function loadFB7() {
        $("#fbmessage-7").delay(10).fadeIn();
        $("#fb-btn7").remove();
        scrollToBottom();
    }
    function loadFB8() {
        $("#fbmessage-8").delay(10).fadeIn();
        $("#fb-btn8").remove();
        scrollToBottom();
    }
    function loadFB9() {
        $("#fbmessage-9").delay(10).fadeIn();
        $("#fb-btn9").remove();
        scrollToBottom();
    }
    function loadFB10() {
        $("#fbmessage-10").delay(10).fadeIn();
        $("#fb-btn10").remove();
        scrollToBottom();
    }
    function loadFB11() {
        $("#fbmessage-11").delay(10).fadeIn();
        $("#fb-btn11").remove();
        scrollToBottom();
    }
    function loadFB12() {
        $("#fbmessage-12").delay(10).fadeIn();
        $("#fb-btn12").remove();
        scrollToBottom();
    }
    function loadFB13() {
        $("#fbmessage-13").delay(10).fadeIn();
        $("#fb-btn13").remove();
        scrollToBottom();
    }
    function loadFB14() {
        $("#fbmessage-14").delay(10).fadeIn();
        $("#fb-btn14").remove();
        scrollToBottom();
    }
    function loadFB15() {
        $("#fbmessage-15").delay(10).fadeIn();
        $("#fb-btn15").remove();
        scrollToBottom();
    }
    function loadFB16() {
        $("#fbmessage-16").delay(10).fadeIn();
        $("#fb-btn16").remove();
        scrollToBottom();
    }
    function loadFB17() {
        $("#fbmessage-17").delay(10).fadeIn();
        $("#fb-btn17").remove();
        scrollToBottom();
    }
    function loadFB18() {
        $("#fbmessage-18").delay(10).fadeIn();
        $("#fb-btn18").remove();
        scrollToBottom();
    }
    function loadFB19() {
        $("#fbmessage-19").delay(10).fadeIn();
        $("#fb-btn19").remove();
        scrollToBottom();
    }
    function loadFB20() {
        $("#fbmessage-20").delay(10).fadeIn();
        $("#fb-btn20").remove();
        scrollToBottom();
    }
    function loadFB21() {
        $("#fbmessage-21").delay(10).fadeIn();
        $("#fb-btn21").remove();
        scrollToBottom();
    }
    function loadFB22() {
        $("#fbmessage-22").delay(10).fadeIn();
        $("#fb-btn22").remove();
        scrollToBottom();
    }    

function loadPage4_1() { 
    $("#append_page4_1").delay(100).fadeIn();
    scrollToBottom();      
} 

function loadPage4_2() { 
    $("#append_page4_2").delay(100).fadeIn();
    scrollToBottom();      
} 

function loadPage4_3() { 
    $("#append_page4_3").delay(100).fadeIn();
    scrollToBottom();      
} 

function loadPage4_4() { 
    $("#append_page4_4").delay(100).fadeIn();
    scrollToBottom();      
} 
</script>

<!-- ############################# START Google Search START ############################# -->

<div class="timeline" style="height:72px"></div>
<div class="stamp">10<span>:</span>03<span>:</span>27 AM</div>
<div class="timeline" style="height:7px"></div>

<html>
<div class="appContainer">
    <a><img src="/images/icons/google.png" class="app" data-toggle="modal" data-target="#search" data-backdrop="true" data-keyboard="true"></a>
    <p class="appName">Google</p>
</div>  

<!-- Modal -->
<div id="search" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <img src="/images/search-header.jpg" class="fitInModal disable-mouse">
        <!-- div class to introduce app -->
        <div class="search-header">
            <h1>Web & App Activity</h1>
            <h2>Check out your past searches and the content you've browsed in Chrome and other apps</h2>
        </div>
        <div style="padding-top:15px;"></div>
        <img src="/images/search-card.jpg" style="padding:5px;width:95%">
        <div style="padding-bottom:15px;"></div>  

        <div class="refresh"><button class="buttonRefresh" id="search-btn1" onclick="loadSearch1()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>

        <!-- eighth search -->
        <div id="8-search" style="display:none;">
        
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search7" class="clickable">Millennial College Graduates: Young, Educated, Jobless - Newsweek</h3></h1>

                    <div id="search7" class="collapse search-collapse">
                        <h4>newsweek.com</h4>
                    </div>

                    <h2>10:24am</h2>
                </div>
            </div>
            <hr/>
        </div>

        <!-- seventh search -->
        <div id="7-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn8" onclick="loadSearch8()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>


            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search6" class="clickable">Millennials want the reward without the risk | Business Insider</h3></h1>

                    <div id="search6" class="collapse search-collapse">
                        <h4>businessinsider.com</h4>
                    </div>

                    <h2>10:22am</h2>
                </div>
            </div>
            <hr/>     
        </div> 

        <!-- sixth search -->
        <div id="6-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn7" onclick="loadSearch7()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>
        
            
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search5" class="clickable">10 Reasons to Teach English in China</h3></h1>

                        <div id="search5" class="collapse search-collapse">
                            <h4>gratefulgypsies.com</h4>
                        </div>

                    <h2>10:17am</h2>
                </div>
            </div>
            <hr/>
        </div>

        <!-- fifth search -->
        <div id="5-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn6" onclick="loadSearch6()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search8" class="clickable">Travel the World - You're only young once! - Huffington Post</u></h3>

                    <div id="search8" class="collapse search-collapse">
                        <h4>huffingtonpost.com</h4>
                    </div>

                    <h2>10:13am</h2>
                </div>
            </div>
            <hr/>     
        </div> 

        <!-- fourth search -->
        <div id="4-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn5" onclick="loadSearch5()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>
        
            
            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Visited <h3 data-toggle="collapse" data-target="#search4" class="clickable">So You Got Fired? Here's 7 Tips Towards Your Path to Self-Actualization</h3></h1>

                    <div id="search4" class="collapse search-collapse">
                        <h4>buzzfeed.com</h4>
                    </div>

                    <h2>10:08am</h2>
                </div>
            </div>
            <hr/>
        </div>

        <!-- third search -->
        <div id="3-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn4" onclick="loadSearch4()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search3" class="clickable">&ldquo;jobs with little experience&rdquo;</u></h1>
                    <div id="search3" class="collapse search-collapse">
                        About 373,000,000 results (0.38 seconds)
                    </div>                    
                    <h2>10:07am</h2>
                </div>
            </div>
            <hr/>     
        </div> 

        <!-- second search -->
        <div id="second-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn3" onclick="loadSearch3()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search1" class="clickable">&ldquo;do i qualify for unemployment&rdquo;</u></h1>
                    <div id="search1" class="collapse search-collapse">
                        About 50,000,000 results (0.74 seconds)
                    </div>                    
                    <h2>10:05am</h2>
                </div>
            </div>
            <hr/>
        </div>

        <!-- first search -->
        <div id="first-search" style="display:none;">
            <div class="refresh"><button class="buttonRefresh" id="search-btn2" onclick="loadSearch2()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>

            <div class="search-flex-container">
                <div class="search-flex-left"><input type="checkbox"></div>
                <div class="search-flex-right">
                    <h1>Searched for <u data-toggle="collapse" data-target="#search2" class="clickable">&ldquo;fired from job&rdquo;</u></h1>
                    <div id="search2" class="collapse search-collapse">
                        About 146,000,000 results (0.35 seconds)
                    </div>                    
                    <h2>10:03am</h2>
                </div>
            </div>
            <hr/>     
        </div>   



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage4_1()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ############################# END Google Search END ############################# -->

<!-- ############################# START Facebook Messenger START ############################# -->

<div id="append_page4_1" style="display:none;">
    <div class="timeline" style="height:180px"></div>
    <div class="stamp">10<span>:</span>33<span>:</span>52 AM</div>
    <div class="timeline" style="height:7px"></div>

    <div class="appContainer">
      <a><img src="/images/icons/messenger.png" class="app" data-toggle="modal" data-target="#messenger" data-backdrop="true" data-keyboard="true"></a>
      <p class="appName">Messenger</p>
    </div>

    <!-- Modal -->
    <div id="messenger" class="modal fade messenger" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <div class="fbHeader">
                <div class="note-flex-container">
                    <div class="fb-left-arrow disable-mouse">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="fb-left disable-mouse">
                        Stacy Leung
                        <div style="text-align: left;font-size: .6em !important;"><img src="/images/fb-icon.png" style="width:10px;position: relative;bottom: 1px;"><font color="#157EFB"> MESSENGER</font><font color="#D4D4D4"> • ACTIVE NOW</font></div>
                    </div>
                    <div class="fb-right disable-mouse">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>                    
                </div>            
            </div>
            <div class="fb-textContainer">

                <!-- messages -->

                <div class="fb-time">9:51 AM</div>

                <div class="fb-sent">
                    Hey babe, I kind of got myself into a mess right now. I got fired last Friday <img class="emoji" src="/images/emoji/mehemoji.png">
                </div>           
                <div class="fb-sent">
                    I should have told you sooner but I didn't want to ruin valentine's day...
                </div>

                <div class="fb-sent">
                    I just wanted to see if I can borrow some cash. I have a credit card bill due in 5 days. I get my severance check in 2 weeks, so I can pay you back then.
                </div>

                <div class="fb-sent">
                    It's always awkward asking for money, haha. Just need some extra help while I pick myself up. Let me know if you can help me out<img class="emoji" src="/images/emoji/heartemoji.png">
                </div>

                                 
                <div id="fbmessage-1" style="display:none;">

                    <div class="fb-time">10:33 AM</div>

                    <div class="fb-received">
                        hey
                    </div>
                    <button class="buttonRefresh" id="fb-btn2" onclick="loadFB2();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-2" style="display:none;">
                    <div class="fb-received">
                        i don’t think we should see each other anymore
                    </div>
                    <button class="buttonRefresh" id="fb-btn3" onclick="loadFB3();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-3" style="display:none;">
                    <div class="fb-received">
                        i can’t be bailing you out all the time
                    </div>
                    <button class="buttonRefresh" id="fb-btn4" onclick="loadFB4();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-4" style="display:none;">
                    <div class="fb-received">
                        i’ll pay you back for the movie last night
                    </div>
                    <button class="buttonRefresh" id="fb-btn5" onclick="loadFB5();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-5" style="display:none;">
                    <div class="fb-received">
                        but it’s over
                    </div>
                    <button class="buttonRefresh" id="fb-btn6" onclick="loadFB6();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>


                <div id="fbmessage-6" style="display:none;">
                    <div class="fb-sent">
                        Wait what?
                    </div>
                    <button class="buttonRefresh" id="fb-btn7" onclick="loadFB7();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-7" style="display:none;">
                    <div class="fb-sent">
                        Let’s talk this through.
                    </div>
                    <button class="buttonRefresh" id="fb-btn8" onclick="loadFB8();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-8" style="display:none;">
                    <div class="fb-sent">
                        Don’t worry about paying me back.
                    </div>
                    <button class="buttonRefresh" id="fb-btn9" onclick="loadFB9();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-9" style="display:none;">
                    <div class="fb-sent">
                        Forget I even mentioned any of this, okay?
                    </div>
                    <button class="buttonRefresh" id="fb-btn10" onclick="loadFB10();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-10" style="display:none;">
                    <div class="fb-sent">
                        Don’t do this. I love you.
                    </div>
                    <button class="buttonRefresh" id="fb-btn11" onclick="loadFB11();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>


                <div id="fbmessage-11" style="display:none;">
                    <div class="fb-received">
                        sorry walt, i have been thinking about this for a while
                    </div>
                    <button class="buttonRefresh" id="fb-btn12" onclick="loadFB12();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-12" style="display:none;">
                    <div class="fb-received">
                        i don’t want to waste any more time with you
                    </div>
                    <button class="buttonRefresh" id="fb-btn13" onclick="loadFB13();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-13" style="display:none;">
                    <div class="fb-received">
                        we had fun but it was never serious
                    </div>
                    <button class="buttonRefresh" id="fb-btn14" onclick="loadFB14();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-14" style="display:none;">
                    <div class="fb-received">
                        i want to try something different
                    </div>
                    <button class="buttonRefresh" id="fb-btn15" onclick="loadFB15();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>


                <div id="fbmessage-15" style="display:none;">
                    <div class="fb-sent">
                        Please Stacy. Let’s work this out.
                    </div>
                    <button class="buttonRefresh" id="fb-btn16" onclick="loadFB16();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-16" style="display:none;">
                    <div class="fb-sent">
                        Can I come over?
                    </div>
                    <button class="buttonRefresh" id="fb-btn17" onclick="loadFB17();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-17" style="display:none;">
                    <div class="fb-sent">
                        I have nothing to do right now.
                    </div>
                    <button class="buttonRefresh" id="fb-btn18" onclick="loadFB18();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-18" style="display:none;">
                    <div class="fb-sent">
                        Let me make it up to you.
                    </div>
                    <button class="buttonRefresh" id="fb-btn19" onclick="loadFB19();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>


                <div id="fbmessage-19" style="display:none;">
                    <div class="fb-received">
                        hey, i need to get back to work
                    </div>
                    <button class="buttonRefresh" id="fb-btn20" onclick="loadFB20();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>


                <div id="fbmessage-20" style="display:none;">
                    <div class="fb-sent">
                        I’ll come over after. Is that okay?
                    </div>
                    <button class="buttonRefresh" id="fb-btn21" onclick="loadFB21();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>

                <div id="fbmessage-21" style="display:none;">
                    <div class="fb-sent">
                        Stacy??
                    </div>
                    <button class="buttonRefresh" id="fb-btn22" onclick="loadFB22();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 
                </div>          

                <div id="fbmessage-22" style="display:none;" class="fb-offline">
                    Stacy is now offline.
                </div>                   

                <button class="buttonRefresh" id="fb-btn1" onclick="loadFB1();"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button> 

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage4_2()">Close</button>
          </div>
        </div>
      </div>
    </div>  

</div>

<!-- ############################# END Facebook Messenger END ############################# -->

<!-- ############################# START Fitbit START ############################# -->
<div id="append_page4_2" style="display:none;">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

    <div class="timeline" style="height:36px"></div>
    <div class="stamp">10<span>:</span>39<span>:</span>45 AM</div>
    <div class="timeline" style="height:7px"></div>

    <a class="no-decorations clickable" data-toggle="modal" data-target="#fitbit" data-backdrop="true" data-keyboard="true" onclick="ga('send', 'event', 'Fitbit-Notification', 'click', 'Fitbit');">
      <ul class="list-group" style="margin:5px;">
          <li class="list-group-item" style="background:#dbdbdb;padding: 4px">
              <div class="note-flex-container">
                <div class="note-left-missed-call">
                  <div style="text-align: left;flex-grow: 1;">
                    <img style="width: 50px;" src="/images/icons/fitbit.png">
                  </div>
                </div>

                  <div class="mint-left">
                    <div style="font-size: .9em">Woah there! Abnormal spike in heart rate.</div>
                    <div style="text-align: left;font-size: .8em !important;">Current Heart Rate: <font color="#4DBFBF">118 bpm</font></div>
                  </div>

                  <div class="mint-right">
                      10:39 AM
                  </div>            
              </div>
          </li>
      </ul> 
    </a>

    <!-- Modal -->
    <div id="fitbit" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <div class="fitbit-header">
                <img src="/images/fitbitlogo.png">
            </div>
            <div class="fitbit-today">
                <h1>Today</h1>
            </div>

            <div style="padding-bottom:15px"></div>
            <div class="search-flex-container">
                <div class="search-flex-left"><img src="/images/fitbit-watch.png" class="fitbit-img"></div>
                <div class="search-flex-right">
                    <div class="fitbit-bold">Charge HR</div>
                    <div class="fitbit-sub">Synced today, 10:39 AM</div>

                </div>
            </div>
            <hr/>  

            <div class="search-flex-container">
                <div class="search-flex-left"><img src="/images/fitbit-bpm.png" class="fitbit-img"></div>
                <div class="search-flex-right">
                    <div class="fitbit-bold">118 <h1>bpm</h1> <button data-toggle="modal" data-target="#fitbit-breathe" data-backdrop="true" data-keyboard="true" onclick="ga('send', 'event', 'Synced-Breathing-Button', 'click', 'Fitbit');"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></button></div>
                    <div class="fitbit-sub">100 bpm resting</div>            
                </div>
            </div>
            <hr/>  

            <div class="search-flex-container">
                <div class="search-flex-left"><img src="/images/fitbit-steps.png" class="fitbit-img"></div>
                <div class="search-flex-right">
                    <div class="fitbit-bold">461 <h1>steps</h1></div>
                    <div class="fitbit-sub"><img src="/images/fitbit-progress.png"></div>  
                </div>
            </div>
            <hr/>            

            <div class="search-flex-container">
                <div class="search-flex-left"><img src="/images/fitbit-miles.png" class="fitbit-img"></div>
                <div class="search-flex-right">
                    <div class="fitbit-bold">.2 <h1>miles</h1></div>
                    <div class="fitbit-sub"><img src="/images/fitbit-progress.png"></div>            
                    

                </div>
            </div>
            <hr/>  

            <div class="search-flex-container">
                <div class="search-flex-left"><img src="/images/fitbit-calories.png" class="fitbit-img"></div>
                <div class="search-flex-right">
                    <div class="fitbit-bold">64 <h1>calories burned</h1></div>
                    <div class="fitbit-sub"><img src="/images/fitbit-progress.png"></div>            

                </div>
            </div>
            <hr/>  

            <div class="search-flex-container">
                <div class="search-flex-left"><img src="/images/fitbit-sleep.png" class="fitbit-img"></div>
                <div class="search-flex-right">
                    <div class="fitbit-bold">5 <h1>hr</h1> 26 <h1>min</h1></div>
                    <div class="fitbit-sub">1x Awake / 6x Restless</div>            

                </div>
            </div>
            <hr/>  
                         
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage4_3()">Close</button>
          </div>
        </div>
      </div>
    </div>  


    <div id="fitbit-breathe" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <div class="fitbit-header">
                <img src="/images/fitbitlogo.png">
            </div>
            <div class="fitbit-today">
                <h1>Sync Breathing</h1>
            </div>

            <div class="fitbit-sub" style="padding-top: 25px;padding-bottom:25px">
                You seem to be extra tense today.<br/><br/>
                Take a couple minutes and sync your breathing to the animation below to reduce stress and promote a general feeling of peace.
            </div>
            <img src="/images/fitbit-breathe.gif">

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="scrollToBottom()">Close</button>
          </div>
        </div>
      </div>
    </div> 

</div>
<!-- ############################# END Fitbit END ############################# -->

<!-- ############################# START Texts Drug Dealer START ############################# -->
<div id="append_page4_3" style="display:none;">
    <div class="timeline" style="height:42px"></div>
    <div class="stamp">10<span>:</span>46<span>:</span>13 AM</div>
    <div class="timeline" style="height:7px"></div>

    <script>

    function loadSMS1() {
        $("#sms01").delay(10).fadeIn();
        $(".smsrefresh1").remove();
        scrollToBottom();
    }

    function loadSMS2() {
        $("#sms02").delay(10).fadeIn();
        $(".smsrefresh2").remove();
        scrollToBottom();
    }

    function loadSMS3() {
        $("#sms03").delay(10).fadeIn();
        $(".smsrefresh3").remove();
        scrollToBottom();
    }
    </script>

    <html>
    <div class="appContainer">
        <a><img src="/images/icons/text.png" class="app" data-toggle="modal" data-target="#text" data-backdrop="true" data-keyboard="true" id="sms"></a>
        <p class="appName">SMS</p>
    </div>  

    <!-- Modal -->
    <div id="text" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <div class="txtHeader">
                <i class="fa fa-comments"></i> <img src="/images/ppl/arthur-ico.jpg">Ben A
            </div>
            <div class="textContainer">
            
                <div id="sms01" style="display:none;">
                    <div class="sent">
                        <p>Hey man, can I pick up 2 grams from you?
                            <div class="time">10:46 AM</div>
                        </p>
                    </div>
                    <button class="buttonRefresh smsrefresh2" onclick="loadSMS2()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button>
                </div>

                <div id="sms02" style="display:none;">
                    <div class="received">
                        <p>yo, for sure. of course man! ill be over in a lil bit <img class="emoji" src="/images/emoji/grinemoji.png">
                            <div class="time">10:50 AM</div>
                        </p>
                    </div>
                    <button class="buttonRefresh smsrefresh3" onclick="loadSMS3()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button>
                </div>

                <div id="sms03" style="display:none;">
                    <div class="received">
                        <p><img class="emoji" src="/images/emoji/weedemoji1.png"><img class="emoji" src="/images/emoji/weedemoji2.png"><img class="emoji" src="/images/emoji/weedemoji3.png">
                            <div class="time">10:51 AM</div>
                        </p>
                    </div>
                </div>            

                <button class="buttonRefresh smsrefresh1" onclick="loadSMS1()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button>                        
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage4_4()">Close</button>
          </div>
        </div>
      </div>
    </div>    
</div>
<!-- ############################# END Texts Drug Dealer END ############################# -->

<div id="append_page4_4" style="display:none;">
    <div style="padding-top:50px;"></div>
    <button class="next-button" id="page5">
        <div class="blink"><span><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></span></div>
    </button>
    <div style="padding-bottom:50px;"></div>
</div>