<!doctype html>

<!doctype html>

<div class="timeline" style="height:6px"></div>
<div class="stamp">8<span>:</span>44<span>:</span>12 AM</div>
<div class="timeline" style="height:7px"></div>


<div class="appContainer">
  <a><img src="/images/icons/mint.png" class="app" data-toggle="modal" data-target="#mint" data-backdrop="true" data-keyboard="true"></a>
  <p class="appName">Mint</p>
</div>

<!-- Modal -->
<div id="mint" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body" id="mintbody">
        {{>mint-updatesT}}                    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="page3_4">Close</button>
      </div>
    </div>
  </div>
</div>  

<script src="/js/walt.js"></script>



<div id="append_page3_3"></div>
