<!doctype html>

<div class="timeline" style="height:90px"></div>
<div class="stamp">8<span>:</span>35<span>:</span>52 AM</div>
<div class="timeline" style="height:7px"></div>
<div class="appContainer">
  <a><img src="/images/icons/gmail.png" class="app" data-toggle="modal" data-target="#gmail" data-backdrop="true" data-keyboard="true"></a>
  <p class="appName">Gmail</p>
</div>

<!-- Modal -->
<div id="gmail" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <img src="/images/gmail-header.jpg" class="fitInModal disable-mouse">

        <img src="/images/p1gmail-1.jpg" class="fitInModal clickable" data-toggle="collapse" data-target="#inbox1">
        <div id="inbox1" class="collapse">
            <div class="gmailBody">
                Hi Walt,<br/><br/>
                Thank you for your application to San Diego Weekly. Unfortunately, we are not able to offer you the Lifestyle Columnist position at this time, as we are looking for someone with more experience in publication for this role.<br/><br/>
                Please do not hesitate to keep in touch and reach out if we have another role you think could be a fit for in the future.<br/><br/>
                Best,<br/><br/>
                Deborah Bleiweiss<br/>
                <i>Lifestyle Editor</i><br/><br/>
                <div style="font-size:12px">
                    d: 619.210.1736<br/>
                    o: 619.753.8200<br/>
                    f: 619.753.8202
                </div>

            </div>
        </div>                                   

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="page2_2" value="true">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="append_page2"></div>