<!doctype html>

<script>
    function startChat() { 
        setTimeout(function(){
            window.location.href = "./jBsERfdprfIv";
            // $("#background").load("partone");
        }, 300);
    }  

    // load pages
    function loadPage11_1() { 
        $("#append_page11_1").delay(100).fadeIn();
        scrollToBottom();      
    }     
</script>

<!-- ############################# START Gallery START ############################# -->
<div class="timeline" style="height:66px"></div>
<div class="stamp">5<span>:</span>26<span>:</span>11 PM</div>
<div class="timeline" style="height:7px"></div>

<html>
<div class="appContainer">
    <a><img src="/images/icons/gallery.png" class="app" data-toggle="modal" data-target="#gallery" data-backdrop="true" data-keyboard="true"></a>
    <p class="appName">Gallery</p>
</div>  

<!-- Modal -->
<div id="gallery" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="galleryHeader">
            <i class="fa fa-bars" aria-hidden="true"></i><img src="/images/icons/gallery.png">Recent Photos<i class="fa fa-search" aria-hidden="true"></i>
        </div>
        
        <div class="gallery-body">
            <h1>February 15, 2016</h1>
            

            <div class="gallery-thumb">
                <img src="/images/gallery-sdsc/thumb1.jpg" data-toggle="modal" data-target="#gallery1" data-backdrop="true" data-keyboard="true" class="clickable">
                <img src="/images/gallery-sdsc/thumb2.jpg" data-toggle="modal" data-target="#gallery2" data-backdrop="true" data-keyboard="true" class="clickable">
                <img src="/images/gallery-sdsc/thumb3.jpg" data-toggle="modal" data-target="#gallery3" data-backdrop="true" data-keyboard="true" class="clickable">
                <img src="/images/gallery-sdsc/thumb4.jpg" data-toggle="modal" data-target="#gallery4" data-backdrop="true" data-keyboard="true" class="clickable">
                <img src="/images/gallery-sdsc/thumb5.jpg" data-toggle="modal" data-target="#gallery5" data-backdrop="true" data-keyboard="true" class="clickable">
                <img src="/images/gallery-sdsc/thumb6.jpg" data-toggle="modal" data-target="#gallery6" data-backdrop="true" data-keyboard="true" class="clickable">
            </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadPage11_1()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- photo 1 -->
<div class="insta-fitInModal">
    <div id="gallery1" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/gallery-sdsc/zoom1.jpg" class="fitInModal">

            <div class="gallery-zoom">
                <button data-toggle="collapse" data-target="#info1" style="margin:10px 0 10px 0">More Info:</button><br/>
                <div id="info1" class="collapse">
                    <h1>
                        Dimensions: 2688 x 1520<br/>
                        Device make: HTC<br/>
                        Device model: 831C<br/>
                        Color space: RGB<br/>
                        Color Profile: sRGB IEC61966-2.1<br/>
                        Focal length: 4.15<br/>
                        Alpha channel: No<br/>
                        Red eye: No<br/>
                        F number: 2.2<br/>
                        Exposure program: 2<br/>
                        Exposure time: 1/30<br/> 
                        Latitude: 32.884268<br/>
                        Longitude: -117.240033<br/>
                    </h1>
                </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- photo 2 -->
<div class="insta-fitInModal">
    <div id="gallery2" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/gallery-sdsc/zoom2.jpg" class="fitInModal">

            <div class="gallery-zoom">
                <button data-toggle="collapse" data-target="#info2" style="margin:10px 0 10px 0">More Info:</button><br/>
                <div id="info2" class="collapse">
                    <h1>
                        Dimensions: 2688 x 1520<br/>
                        Device make: HTC<br/>
                        Device model: 831C<br/>
                        Color space: RGB<br/>
                        Color Profile: sRGB IEC61966-2.1<br/>
                        Focal length: 4.15<br/>
                        Alpha channel: No<br/>
                        Red eye: No<br/>
                        F number: 2.2<br/>
                        Exposure program: 2<br/>
                        Exposure time: 1/17<br/>
                        Latitude: 32.884268<br/>
                        Longitude: -117.240033<br/>
                    </h1>
                </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- photo 3 -->
<div class="insta-fitInModal">
    <div id="gallery3" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">

            <img src="/images/gallery-sdsc/zoom3.jpg" class="fitInModal">

            <div class="gallery-zoom">
                <button data-toggle="collapse" data-target="#info3" style="margin:10px 0 10px 0">More Info:</button><br/>
                <div id="info3" class="collapse">
                    <h1>
                        Dimensions: 2688 x 1520<br/>
                        Device make: HTC<br/>
                        Device model: 831C<br/>
                        Color space: RGB<br/>
                        Color Profile: sRGB IEC61966-2.1<br/>
                        Focal length: 4.15<br/>
                        Alpha channel: No<br/>
                        Red eye: No<br/>
                        F number: 2.2<br/>
                        Exposure program: 2<br/>
                        Exposure time: 1/30<br/>
                        Latitude: 32.884268<br/>
                        Longitude: -117.240033<br/>
                    </h1>
                </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- photo 4 -->
<div class="insta-fitInModal">
    <div id="gallery4" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <img src="/images/gallery-sdsc/zoom4.jpg" class="fitInModal">

            <div class="gallery-zoom">
                <button data-toggle="collapse" data-target="#info4" style="margin:10px 0 10px 0">More Info:</button><br/>
                <div id="info4" class="collapse">
                    <h1>
                        Dimensions: 2688 x 1520<br/>
                        Device make: HTC<br/>
                        Device model: 831C<br/>
                        Color space: RGB<br/>
                        Color Profile: sRGB IEC61966-2.1<br/>
                        Focal length: 4.15<br/>
                        Alpha channel: No<br/>
                        Red eye: No<br/>
                        F number: 2.2<br/>
                        Exposure program: 2<br/>
                        Exposure time: 1/30<br/>
                        Latitude: 32.884268<br/>
                        Longitude: -117.240033<br/>
                    </h1>
                </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- photo 5 -->
<div class="insta-fitInModal">
    <div id="gallery5" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <img src="/images/gallery-sdsc/zoom5.jpg" class="fitInModal">

            <div class="gallery-zoom">
                <button data-toggle="collapse" data-target="#info5" style="margin:10px 0 10px 0">More Info:</button><br/>
                <div id="info5" class="collapse">
                    <h1>
                        Dimensions: 2688 x 1520<br/>
                        Device make: HTC<br/>
                        Device model: 831C<br/>
                        Color space: RGB<br/>
                        Color Profile: sRGB IEC61966-2.1<br/>
                        Focal length: 4.15<br/>
                        Alpha channel: No<br/>
                        Red eye: No<br/>
                        F number: 2.2<br/>
                        Exposure program: 2<br/>
                        Exposure time: 1/30<br/>
                        Latitude: 32.884268<br/>
                        Longitude: -117.240033<br/>
                    </h1>
                </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- photo 6 -->
<div class="insta-fitInModal">
    <div id="gallery6" class="modal fade" role="dialog"  tabindex='-1'>
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <img src="/images/gallery-sdsc/zoom6.jpg" class="fitInModal">

            <div class="gallery-zoom">
                
                <button data-toggle="collapse" data-target="#info6" style="margin:10px 0 10px 0">More Info:</button><br/>
                <div id="info6" class="collapse">
                    <h1>
                        Dimensions: 2688 x 1520<br/>
                        Device make: HTC<br/>
                        Device model: 831C<br/>
                        Color space: RGB<br/>
                        Color Profile: sRGB IEC61966-2.1<br/>
                        Focal length: 4.15<br/>
                        Alpha channel: No<br/>
                        Red eye: No<br/>
                        F number: 2.2<br/>
                        Exposure program: 2<br/>
                        Exposure time: 1/30<br/>
                        Latitude: 32.884268<br/>
                        Longitude: -117.240033<br/>
                    </h1>
                </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- ############################# END Gallery End ############################# -->

<!-- ############################# START Terminal START ############################# -->
<div id="append_page11_1" style="display:none;">
    <div class="timeline" style="height:42px"></div>
    <div class="stamp">5<span>:</span>33<span>:</span>01 PM</div>
    <div class="timeline" style="height:7px"></div>

    <div class="appContainer">
        <a><img src="/images/icons/terminal.png" class="app" onclick="startChat()"></a>
        <p class="appName">ยรקS๒Ŧzﻮђ๔zש5</p>
    </div> 
</div>
<!-- ############################# END Terminal END ############################# -->
<div style="padding:50px;"></div>