<!doctype html>


<div class="timeline" style="height:30px"></div>
<div class="stamp">7<span>:</span>35<span>:</span>47 AM</div>
<div class="timeline" style="height:7px"></div>
<div class="stamp"><button type="button" class="btn btn-default" style="padding-right:40px;padding-left:40px" id="page1_3">Snooze</button></div>

<div id="append_page1_3"></div>
