<!doctype html>

<script>

$(document).ready(function(){
    initialise();  
});

function initialise()
{
    $("#search-btn1").click(function(){
        $( "div.search-refresh01" ).replaceWith( "<div class=\"search-refresh02 refresh\"><button class=\"buttonRefresh\" id=\"search-btn2\"><i class=\"fa fa-refresh fa-spin\" aria-hidden=\"true\"></i></button></div>        <div id=\"search2\" class=\"collapse search-collapse\">No results found for <b>infinite domain</b></div><div class=\"search-flex-container\"><div class=\"search-flex-left\"><input type=\"checkbox\" value=\"\"></div><div class=\"search-flex-right\"><h1>Searched for <u data-toggle=\"collapse\" data-target=\"#search2\" class=\"clickable\">&ldquo;infinite domain&rdquo;</u></h1><h2>8:41am</h2></div></div><hr/>");
        initialise();
    });  
    $("#search-btn2").click(function(){
        $( "div.search-refresh02" ).replaceWith( "<div id=\"search1\" class=\"collapse search-collapse\">No results found for <b>infinite domain zentech</b></div><div class=\"search-flex-container\"><div class=\"search-flex-left\"><input type=\"checkbox\"></div><div class=\"search-flex-right\"><h1>Searched for <u data-toggle=\"collapse\" data-target=\"#search1\" class=\"clickable\">&ldquo;infinite domain zentech&rdquo;</u></h1><h2>8:41am</h2></div></div><hr/>");
        initialise();
    });     
    // $("#search-btn3").click(function(){
    //     $( "div.search-refresh03" ).replaceWith( "        <div class=\"note-flex-container\"><div class=\"search-flex-left\"><input type=\"checkbox\"></div><div class=\"search-flex-right\"><h1>Visited <u>\"Amazon's private labels could hit Millennials' sweet spot\"</u></h1><h2>7:35pm</h2></div></div><hr/>" );
    //     initialise();
    // });  
       
}
</script>

<div class="timeline" style="height:54px"></div>
<div class="stamp">8<span>:</span>40<span>:</span>13 AM</div>
<div class="timeline" style="height:7px"></div>

<html>
<div class="appContainer">
    <a><img src="/images/icons/google.png" class="app" data-toggle="modal" data-target="#search" data-backdrop="true" data-keyboard="true"></a>
    <p class="appName">Google</p>
</div>  

<!-- Modal -->
<div id="search" class="modal fade" role="dialog"  tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <img src="/images/search-header.jpg" class="fitInModal disable-mouse">
        <!-- div class to introduce app -->
        <div class="search-header">
            <h1>Web & App Activity</h1>
            <h2>Check out your past searches and the content you've browsed in Chrome and other apps</h2>
        </div>
        <div style="padding-top:15px;"></div>
        <img src="/images/search-card.jpg" style="padding:5px;width:95%">
        <div style="padding-bottom:15px;"></div>

        
<!--         <div id="search1" class="collapse search-collapse">
            No results found for <b>infinite domain zentech</b>
        </div>
        <div class="search-flex-container"><div class="search-flex-left"><input type="checkbox"></div><div class="search-flex-right"><h1>Searched for <u data-toggle="collapse" data-target="#search1" class="clickable">"infinite domain zentech"</u></h1><h2>8:41am</h2></div></div><hr/>    -->     

        <div class="search-refresh01 refresh"><button class="buttonRefresh" id="search-btn1"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button></div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="page3_2">Close</button>
      </div>
    </div>
  </div>
</div>  

<div id="append_page3"></div>