<!doctype html>

<div style="padding-top: 25px"></div>
<button class="next-button" id="page3"><div class="blink"><span><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></span></div></button>
<div style="padding-bottom: 50px"></div>

