<!doctype html>

<html>
<head>
	<title>Project Walt</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/walt.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/toastr.css" rel="stylesheet"/>

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>

	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery.js"></script>	
	<script src="/js/toastr.js"></script>
	<script src="/js/typed.js"></script>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72552976-2', 'auto');
	  ga('send', 'pageview');

	</script>		


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>


<body id="background">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<div class="menuBar">Infinite<span><i class="fa fa-eye" aria-hidden="true" style="font-size:.8em;padding-left:2px;padding-right:2px;"></i></span>Domain</div>
				<div class="waltDisplay">
					<!-- content of story goes here -->
					
					<div class="appDisplay" id="div1">
						<div style="padding-bottom:20vh"></div>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown_title">Select Subject
							<span class="caret"></span></button>
							<ul ID="divNewNotifications" class="dropdown-menu">
								<li class="clickable"><a id="update-dropdown">Walt G. Lee [2/3]</a></li>
								<li class="disabled"><a>Larry L. Ebert [3/3 MAX]</a></li>
								<li class="disabled"><a>Anthony S. Williams [3/3 MAX]</a></li>
								<li class="disabled"><a>Janice C. Davis [3/3 MAX]</a></li>
								<li class="disabled"><a>Keisha A. Regner [3/3 MAX]</a></li>
								<li class="disabled"><a>Roberta B. Bower [3/3 MAX]</a></li>
								<li class="disabled"><a>Genji Lung [3/3 MAX]</a></li>
								<li class="disabled"><a>Xiao Hong Yu [3/3 MAX]</a></li>
								<li class="disabled"><a>Lundy Couet [3/3 MAX]</a></li>
								<li class="disabled"><a>Jeffrey C. Wilcox [3/3 MAX]</a></li>
								<li class="disabled"><a>Abigail Maiden [3/3 MAX]</a></li>
								<li class="disabled"><a>Ben Gawler [3/3 MAX]</a></li>
								<li class="disabled"><a>Nadine Schiffer [3/3 MAX]</a></li>
								<li class="disabled"><a>Elaina K. Jodi [3/3 MAX]</a></li>
								<li class="disabled"><a>Gaetan Sevilla Mercado [3/3 MAX]</a></li>
								<li class="disabled"><a>Kasumi Hirota [3/3 MAX]</a></li>
								<li class="disabled"><a>Stacy C. Leung [3/3 MAX]</a></li>
								<li class="disabled"><a>Lorene J. Krol [3/3 MAX]</a></li>
								<li class="disabled"><a>Fang Chu [3/3 MAX]</a></li>
								<li class="disabled"><a>Dorothy Acevedo Varela [3/3 MAX]</a></li>
							</ul>
						</div>
						<div class="subject-selected"></div>
						<script>

						$(document).ready(function(){
						    initialise();  
						});

						function initialise()
						{
						    $("#update-dropdown").click(function(){
						        $( "div.subject-selected" ).replaceWith( "<a class=\"start-button clickable\" id=\"auth-button\"><i class=\"fa fa-play-circle-o\" aria-hidden=\"true\"></i></a>  <div style=\"padding-bottom: 50px\">" );
						        initialise();
						        scrollToBottom();
						    });
						}
						</script>


						

							
					</div>

				</div>
			</div>
		</div>
	</div>


	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/walt.js"></script>
</body>
</html>
