<!doctype html>

<script>
    // loading messages
    $(document).ready(function(){
        $("#sc1").delay(1000).fadeIn();
        $("#sc2").delay(2000).fadeIn();
        $("#sc3").delay(3000).fadeIn();
        scrollToBottom();
                             
    });

    // refresh buttons
    function loadChat_1() {
        $("#sc3").remove();
        $("#sc4").delay(10).fadeIn();
        $("#sc5").delay(500).fadeIn();
        $("#sc6").delay(1000).fadeIn();  
        $("#sc7").delay(2000).fadeIn();  
        scrollToBottom();      
    }   

    function loadChat_2() {
        $("#sc7").remove();
        $("#sc8").delay(10).fadeIn();
        $("#sc9").delay(500).fadeIn();
        $("#sc10").delay(1000).fadeIn();  
        $("#sc11").delay(2500).fadeIn();   
        scrollToBottom();     
    }  

    function loadChat_3() {
        $("#sc12").delay(100).fadeIn();  
        scrollToBottom();
    }     

    function loadChat_4() {
        $("#sc13").delay(10).fadeIn();
        $("#sc14").delay(500).fadeIn();
        $("#sc15").delay(2000).fadeIn();
        scrollToBottom();    
        $("#sc16").delay(2500).fadeIn(); 
        $("#sc17").delay(3000).fadeIn(); 
        $("#sc18").delay(3100).fadeIn();
        scrollToBottom();     
        $("#sc19").delay(3600).fadeIn();   
        scrollToBottom();     
    }     

    function loadChat_5() {
        $("#sc19").remove();
        $("#sc20").delay(10).fadeIn();
        $("#sc21").delay(1000).fadeIn();
        scrollToBottom();  
        $("#sc22").delay(1500).fadeIn();
        scrollToBottom();    
        $("#sc23").delay(2000).fadeIn();   
        scrollToBottom();     
    }            

    function loadChat_6() {
        $("#sc23").remove();
        $("#sc24").delay(10).fadeIn();
        $("#sc25").delay(100).fadeIn();
        $("#sc26").delay(500).fadeIn();  
        $("#sc27").delay(800).fadeIn();
        $("#sc28").delay(900).fadeIn();
        scrollToBottom();   
        $("#sc29").delay(1000).fadeIn();
        $("#sc30").delay(1200).fadeIn();
        $("#sc31").delay(1300).fadeIn();
        $("#sc32").delay(1400).fadeIn();
        scrollToBottom();   
        $("#sc33").delay(1500).fadeIn(); 
        scrollToBottom();   
        $("#sc34").delay(3000).fadeIn();                                                   
        scrollToBottom();     
    }  

    function loadChat_7() {
        $("#sc34").remove();
        $("#sc35").delay(1000).fadeIn();
        $("#sc36").delay(2500).fadeIn();  
        scrollToBottom();       
    }

    // google search
    function loadSearch1() {
        $("#first-search").delay(10).fadeIn();
        $("#search-btn1").remove();
    }

    function loadSearch2() {
        $("#second-search").delay(10).fadeIn();
        $("#search-btn2").remove();
    }

    function loadSearch3() {
        $("#3-search").delay(10).fadeIn();
        $("#search-btn3").remove();
    }    

    function loadSearch4() {
        $("#4-search").delay(10).fadeIn();
        $("#search-btn4").remove();
    }   

    function loadSearch5() {
        $("#5-search").delay(10).fadeIn();
        $("#search-btn5").remove();
    }  


    function reloadID() { 
        setTimeout(function(){
            window.location.href = "./QKMvsTgewv4T";
        }, 300);    
    } 


 
</script>


<div class="secureText">
    <!-- first block -->
    <p id=sc1 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> hey walt. its me jason villa 
    </p>
    <p id=sc2 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> just type as you normally would
    </p>   
    <div id=sc3 style="display:none;">
        <div class="refresh"><button class="buttonRefresh" onclick="loadChat_1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
    </div>

    <!-- second block -->
    <p id=sc4 style="display:none;">
        <b class="secure-walt">WALT110 &rarr;</b> jason?
    </p>   
    <p id=sc5 style="display:none;">
        <b class="secure-walt">WALT110 &rarr;</b> jason from freshman year?
    </p>         
    <p id=sc6 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> yea man! building 710, in the res halls
    </p>  
    <div id=sc7 style="display:none;">
        <div class="refresh"><button class="buttonRefresh" onclick="loadChat_2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
    </div>    

    <!-- third block -->
    <p id=sc8 style="display:none;">
        <b class="secure-walt">WALT110 &rarr;</b> what is this?
    </p>   
    <p id=sc9 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> its an e2e encrypted chat
    </p>         
    <p id=sc10 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> youre in trouble man. someones out to get you
    </p> 
    <p id=sc11 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> i dont know how to explain it. check WALT110 logs -> <a onclick="loadChat_3()" class="clickable">http://infinitedoma.in</a>
    </p>   

    <!-- fourth block - google app -->
    
<!-- ############################# START Google Search START ############################# -->
    <div id=sc12 style="display:none;">
        <div style="align:center">
            <div class="timeline" style="height:18px"></div>
            <div class="stamp">4<span>:</span>25<span>:</span>12 PM</div>
            <div class="timeline" style="height:7px"></div>
            <div class="appContainer" style="display: block;margin-left: auto;margin-right: auto ">
                <a><img src="/images/icons/google.png" class="app" data-toggle="modal" data-target="#search" data-backdrop="true" data-keyboard="true"></a>
                <p class="appName">Google</p>
            </div>  
        </div>

        <!-- Modal -->
        <div id="search" class="modal fade" role="dialog"  tabindex='-1'>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-body">

                <img src="/images/search-header.jpg" class="fitInModal disable-mouse">
                <!-- div class to introduce app -->
                <div class="search-header">
                    <h1>Web & App Activity</h1>
                    <h2>Check out your past searches and the content you've browsed in Chrome and other apps</h2>
                </div>
                <div style="padding-top:15px;"></div>
                <img src="/images/search-card.jpg" style="padding:5px;width:95%">
                <div style="padding-bottom:15px;"></div>  

                <div class="refresh"><button class="buttonRefresh" id="search-btn1" onclick="loadSearch1()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>


                <!-- fifth search -->
                <div id="5-search" style="display:none;">
                    
                    <div class="search-flex-container">
                        <div class="search-flex-left" style="padding-left:35px;"><input type="checkbox"></div>
                        <div class="search-flex-right">
                            <h1>Visited <h3 data-toggle="collapse" data-target="#search5" class="clickable">Gmail | log_2016-02-15 | WALT110 | Infinite Domain</h3></h1>

                            <div id="search5" class="collapse search-collapse">
                                <h4>infinitedoma.in</h4>
                            </div>

                            <h2>4:33pm</h2>
                        </div>
                    </div>
                    <hr/>
                </div>

                <!-- fourth search -->
                <div id="4-search" style="display:none;">
                    <div class="refresh"><button class="buttonRefresh" id="search-btn5" onclick="loadSearch5()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
                
                    
                    <div class="search-flex-container">
                        <div class="search-flex-left" style="padding-left:35px;"><input type="checkbox"></div>
                        <div class="search-flex-right">
                            <h1>Visited <h3 data-toggle="collapse" data-target="#search4" class="clickable">Instagram | log_2014-06-28 | WALT110 | Infinite Domain</h3></h1>

                            <div id="search4" class="collapse search-collapse">
                                <h4>infinitedoma.in</h4>
                            </div>

                            <h2>4:30pm</h2>
                        </div>
                    </div>
                    <hr/>
                </div>

                <!-- third search -->
                <div id="3-search" style="display:none;">
                    <div class="refresh"><button class="buttonRefresh" id="search-btn4" onclick="loadSearch4()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                    
                    <div class="search-flex-container">
                        <div class="search-flex-left" style="padding-left:35px;"><input type="checkbox"></div>
                        <div class="search-flex-right">
                            <h1>Visited <h3 data-toggle="collapse" data-target="#search3" class="clickable">Facebook | log_2013-12-14 | WALT110 | Infinite Domain</h3></h1>

                            <div id="search3" class="collapse search-collapse">
                                <h4>infinitedoma.in</h4>
                            </div>

                            <h2>4:28pm</h2>
                        </div>
                    </div>
                    
                    <hr/>     
                </div> 

                <!-- second search -->
                <div id="second-search" style="display:none;">
                    <div class="refresh"><button class="buttonRefresh" id="search-btn3" onclick="loadSearch3()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                    <div class="search-flex-container">
                        <div class="search-flex-left" style="padding-left:35px;"><input type="checkbox"></div>
                        <div class="search-flex-right">
                            <h1>Visited <h3 data-toggle="collapse" data-target="#search2" class="clickable">Infinite Domain | WALT110</h3></h1>

                            <div id="search2" class="collapse search-collapse">
                                <h4>infinitedoma.in</h4>
                            </div>

                            <h2>4:27pm</h2>
                        </div>
                    </div>
                    <hr/>
                </div>

                <!-- first search -->
                <div id="first-search" style="display:none;">
                    <div class="refresh"><button class="buttonRefresh" id="search-btn2" onclick="loadSearch2()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>

                    <div class="search-flex-container">
                        <div class="search-flex-left" style="padding-left:35px;"><input type="checkbox"></div>
                        <div class="search-flex-right">
                            <h1>Visited <h3 data-toggle="collapse" data-target="#search1" class="clickable">Welcome to Infinite Domain | Select Subject</h3></h1>

                            <div id="search1" class="collapse search-collapse">
                                <h4>infinitedoma.in</h4>
                            </div>

                            <h2>4:25pm</h2>
                        </div>
                    </div>
                    <hr/>     
                </div>   



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadChat_4()">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>        
<!-- ############################# END Google Search END ############################# -->    

    <!-- fifth block -->
    <p id=sc13 style="display:none;">
        <b class="secure-walt">WALT110 &rarr;</b> what the fuck
    </p>   
    <p id=sc14 style="display:none;">
        <b class="secure-walt">WALT110 &rarr;</b> how is it doing this? it has like 5 years of my data
    </p>         
    <p id=sc15 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> youre in trouble man. its ucking crazy
    </p> 
    <p id=sc16 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> uck. 
    </p> 
    <p id=sc17 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> my "" key is broken
    </p>
    <p id=sc18 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> uck. UCK. the letter ater "e". ucking shit uck
    </p>
    <div id=sc19 style="display:none;">
        <div class="refresh"><button class="buttonRefresh" onclick="loadChat_5()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
    </div>       

    <!-- sixth block -->
    <p id=sc20 style="display:none;">
        <b class="secure-walt">WALT110 &rarr;</b> seriously, whats infinite domain?
    </p>   
    <p id=sc21 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> they have been collecting our data since we started college
    </p>  
    <p id=sc22 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> turns out, anyone that has connected through the CAMPUS-PROTECTED wireless network, unknowingly installed ininite domain onto their device
    </p>     
    <div id=sc23 style="display:none;">
        <div class="refresh"><button class="buttonRefresh" onclick="loadChat_6()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
    </div>        

    <!-- seventh block -->
    <p id=sc24 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> uck. someones trying to brute orce into our chat
    </p>   
    <p id=sc25 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> this connection is alling apart
    </p>  
    <p id=sc26 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> go to sdsc on campus
    </p>     
    <p id=sc27 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> room 218
    </p>   
    <p id=sc28 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> key code - 9721241
    </p>   
    <p id=sc29 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> uck. i cant hold them back any longer
    </p>    
    <p id=sc30 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> you have to go now. the key code changes every 3 hours
    </p> 
    <p id=sc31 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> no time to explain. ill try to open a new line soon. ininite domain is watching
    </p>      
    <p id=sc32 style="display:none;">
        <b class="secure-r5">RSDNT5 &rarr;</b> uck uck uck
    </p>    
    <div id=sc33 style="display:none;">
        <div class="disconnected">session disconnected</div>
    </div>            
    <div id=sc34 style="display:none;">
        <div class="refresh"><button class="buttonRefresh" onclick="loadChat_7()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
    </div>         

    <!-- sixth block -->
    <p id=sc35 style="display:none;">
        <br/>
        <b class="secure-walt">WALT110 &rarr;</b> what the fuck
    </p>  

    <div id=sc36 style="display:none;">
        <center>
        <div style="padding-top:50px;"></div>
        <button class="next-button" onclick="reloadID()">
            <span><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></span>
        </button>
        <div style="padding-bottom:50px;"></div>
        </center>
    </div>

    <div style="padding:50px;"></div>
   
</div>
