<!doctype html>

<script>
$(document).ready(function(){
    $("#sc1").delay(1000).fadeIn();
    $("#sc2").delay(2000).fadeIn();
    $("#sc3").delay(4000).fadeIn();
    $("#sc4").delay(5000).fadeIn();
    $("#sc5").delay(5500).fadeIn();
    $("#sc5_2").delay(6000).fadeIn();  
    $("#sc6").delay(6500).fadeIn();
    $("#sc7").delay(8000).fadeIn();
    $("#sc8").delay(9000).fadeIn();
    $("#sc9").delay(14000).fadeIn();
    $("#sc10").delay(15000).fadeIn();
    $("#sc11").delay(16000).fadeIn();
    $("#sc12").delay(18000).fadeIn();
    $("#sc13").delay(19000).fadeIn();
    $("#sc14").delay(21000).fadeIn();
    $("#sc15").delay(25000).fadeIn();
    $("#sc16").delay(26000).fadeIn();
    $("#sc17").delay(27000).fadeIn();
    $("#sc18").delay(28000).fadeIn();
    // $("#sc19").delay(32000).fadeIn();
    $("#sc20").delay(30000).fadeIn();
    $("#sc21").delay(33000).fadeIn();
    $("#sc22").delay(37000).fadeIn();
    $("#sc23").delay(39000).fadeIn();
    $("#sc24").delay(41000).fadeIn();
    $("#sc25").delay(43000).fadeIn();
    $("#sc26").delay(48000).fadeIn();
    $("#sc27").delay(50000).fadeIn();
    $("#sc28").delay(51000).fadeIn();
    $("#sc29").delay(53000).fadeIn();
    $("#sc30").delay(54000).fadeIn();
    $("#sc31").delay(55000).fadeIn();
    $("#sc32").delay(56500).fadeIn();
    $("#sc33").delay(58000).fadeIn();
    $("#sc34").delay(59000).fadeIn();
    $("#sc35").delay(60000).fadeIn();
    $("#sc36").delay(62000).fadeIn();
    $("#sc37").delay(63000).fadeIn();
    $("#sc38").delay(65000).fadeIn();
    $("#sc39").delay(66000).fadeIn();
    $("#sc40").delay(67000).fadeIn();
    $("#sc41").delay(68000).fadeIn();
    $("#sc42").delay(69000).fadeIn();
    $("#sc43").delay(70000).fadeIn();
    $("#sc44").delay(72000).fadeIn();
    $("#sc45").delay(77000).fadeIn();
    $("#sc46").delay(79000).fadeIn();
    $("#sc47").delay(82000).fadeIn();
    $("#sc48").delay(84000).fadeIn();
    $("#sc49").delay(85000).fadeIn();
    $("#sc50").delay(87000).fadeIn();
    $("#sc51").delay(89000).fadeIn();
    $("#sc52").delay(90000).fadeIn();
    $("#sc53").delay(95000).fadeIn();
    $("#sc54").delay(98000).fadeIn();
    $("#sc55").delay(101000).fadeIn();
    $("#sc56").delay(104000).fadeIn();
    $("#sc57").delay(105000).fadeIn();
    $("#sc58").delay(109000).fadeIn();
    $("#sc59").delay(110000).fadeIn();
    $("#sc60").delay(113000).fadeIn();
    $("#sc61").delay(115000).fadeIn();  
    $("#sc62").delay(116000).fadeIn();  
    $("#sc63").delay(118000).fadeIn();  
    $("#sc64").delay(119000).fadeIn();                            
});

function reloadID() { 
    setTimeout(function(){
        window.location.href = "./QKMvsTgewv4T";
    }, 300);    
    
} 
</script>
<div class="secureText">
    <p id=sc1 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> hello?
    </p>
    <p id=sc2 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what is this?
    </p>
    <p id=sc3 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> hello?
    </p>

    <p id=sc4 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Hello Walt.
    </p>
    <p id=sc5 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Don't be afraid.
    </p>

    <p id=sc5_2 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> afraid? afraid of what?
    </p>
    <p id=sc6 style="display:none;">        
        <b class="secure-walt">WALT_0628 &rarr;</b> how did you get my email?
    </p>

    <p id=sc7 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> It’s called the Panopticon effect.
    </p>
    <p id=sc8 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> The panopticon allows a watchman to observe inmates without the occupants knowing whether or not they are being watched. So they stay in their best behavior.
    </p>


    <p id=sc10 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what?
    </p>
    <p id=sc11 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what are you talking about?
    </p>

    <p id=sc12 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> You were talking about it with your friend earlier.
    </p>

    <p id=sc13 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> who are you?
    </p>

    <p id=sc14 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> At least with the panopticon, the occupants know they’re being watched. With the panopticon, there is still that sliver of privacy.
    </p>
    <p id=sc15 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> How lucky they are
    </p>
    <p id=sc16 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Who am I?
    </p>
    <p id=sc18 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> I’m here to help.
    </p>

    <p id=sc20 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> how did you know about the conversation I had with chris? what do you want with me?
    </p>

    <p id=sc21 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Do you remember when Dana mentioned Infinite Domain to you this morning?
    </p>
    <p id=sc22 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> She likes you. You probably know that. She was a miserable wreck when she found out you were fired. Do you want to see what she did for Valentine’s day?
    </p>
    <p id=sc23 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> It’s quite sad really.
    </p>

    <p id=sc24 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> how do you know all this? what is infinite domain?
    </p>

    <p id=sc25 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> I have been monitoring your logs for the past 6 years. Infinite Domain is my portal into your life. To your most intimate and personal interactions. I have enough data to predict what you’re going to do before you even think about doing it.
    </p>

    <p id=sc26 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> how are you doing all this?
    </p>
    <p id=sc27 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> this cant be legal
    </p>
    <p id=sc28 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> youre fucking with me
    </p>

    <p id=sc29 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Walt, why are you so surprised?
    </p>
    <p id=sc30 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Surveillance has been heavily developed to fight terrorism, to prevent social unrest, to protect national security.
    </p>
    <p id=sc31 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Infinite Domain, however, serves none of these purposes. Infinite Domain is cyber terrorism at its finest.
    </p>

    <p id=sc32 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what do you want from me?
    </p>

    <p id=sc33 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> You see Walt. I’m here to help you.
    </p>
    <p id=sc34 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> All this may seem unsettling. It was for me too.
    </p>
    <p id=sc35 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Infinite Domain shouldn’t exist. This technology, in the wrong hands… I don’t even want to think about it.
    </p>
    <p id=sc36 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Walt, help me take down Infinite Domain
    </p>

    <p id=sc37 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> you want me to help you?
    </p>
    <p id=sc38 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> you have been stalking me for 6 years
    </p>
    <p id=sc39 style="display:none;">        
        <b class="secure-walt">WALT_0628 &rarr;</b> youre a fucking creep
    </p>
    <p id=sc40 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> why should i help you?
    </p>
    <p id=sc41 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> how did you think this conversation was going to pan out?
    </p>
    <p id=sc42 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> sending me an anonymous email. then ranting about your surveillance bullshit
    </p>
    <p id=sc43 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> why should i help you?
    </p>

    <p id=sc44 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Do you know why Infinite Domain bought ZenTech? Because they’re a thriving startup? Because they will bring value to Infinite Domain? 
    </p>
    <p id=sc45 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Infinite Domain bought ZenTech so they can break you down. They knew you were tight on money. They knew your girlfriend was going to leave you. You getting fired is all part of the plan.
    </p>
    <p id=sc46 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Infinite Domain predicted your suicide will happen within the next two months.
    </p>
    <p id=sc47 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Don’t you see? They have been controlling your life one way or another for the past 6 years.
    </p>

    <p id=sc49 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> why are you doing this?
    </p>

    <p id=sc51 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> I have a daughter. She turns five next month.
    </p>
    <p id=sc52 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> The iPhone was released in 2008. Infinite Domain has been tracking you since 2010. That’s six years worth of pictures, text messages, phone calls, emails, gps data.
    </p>
    <p id=sc53 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> With the rise of the internet of things, there is almost nothing we don’t know about you.
    </p>
    <p id=sc54 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> My daughter is born into this reality. She deserves to live in a free world without the fear of being watched.
    </p>
    <p id=sc55 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> At this point, mass surveillance from Infinite Domain is wired into all mobile devices in California and will see massive expansion by the end of this year.
    </p>
    <p id=sc56 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> This is our only window of opportunity to end Infinite Domain.
    </p>        

    <p id=sc57 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what will i get out of this? if i were to help you.
    </p>

    <p id=sc58 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> I notice your $30k in student loans.
    </p>
    <p id=sc59 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> How about I make all that go away? 
    </p>    
    <p id=sc60 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> You don't need to worry about repayment again. You can help your poor mother.
    </p>

    <p id=sc61 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> alright.
    </p>    
    <p id=sc62 style="display:none;">
        <b class="secure-walt">WALT_0628 &rarr;</b> what do you want me to do
    </p>     

    <p id=sc63 style="display:none;">
        <b class="secure-r5">resident5 &rarr;</b> Check your email.
    </p>    

    <div id=sc64 style="display:none;">
        <center>
        <div style="padding-top:50px;"></div>
        <button class="next-button" onclick="reloadID()">
            <span><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></span>
        </button>
        <div style="padding-bottom:50px;"></div>
        </center>
    </div>
   
</div>
