<!doctype html>

<div class="fetch">
    <div style="padding-top: 15vh"></div>
    <img src="/images/walt.png" style="width: 150px"><br/>
    <div style="padding-top: 15px"></div>
    SUBJECT WALT_0628
    <div style="padding-top: 5vh"></div>
    <button class="next-button" id="page1"><div class="blink"><span><i class="fa fa-angle-double-right fa-2x" aria-hidden="true" id="nextArrow"></i></span></div></button>

</div>  