<!doctype html>

<div class="fetch">
	<div style="padding-top: 35vh"></div>
		SUBJECT WALT_0628
	<div style="padding-top: 5vh"></div>		
</div>

<img src="/images/circle.png" id="circle">
<div class="timeline" style="height:40vh"></div>

<ul class="list-group" style="margin:5px;">
    <li class="list-group-item">
        <div class="note-flex-container">
        	<div class="note-left">
        		<div style="text-align: left;flex-grow: 1;"><div class="blink"><span><i class="fa fa-clock-o fa-4x" aria-hidden="true"></i></span></div></div>
        	</div>
            <div class="note-flex-column">
            	<div style="text-align: left;flex-grow: 2" class="blink"><span><b>Alarm</b></span></div> 
            	<div style="text-align: left;"><div class="blink"><span><button type="button" class="btn btn-danger " style="padding-right:40px;padding-left:40px">Dismiss</button></span></div></div>
            </div>
          	<div class="note-flex-column">
            	<div style="text-align: right;flex-grow: 2"><div class="blink"><span><font color="#00000">7:30 AM</font></span></div></div>  
            	<div style="text-align: right;"><div class="blink"><span><button type="button" class="btn btn-default" style="padding-right:40px;padding-left:40px">Snooze</button></span></div></div>
            </div>            
           
        </div>
    </li>
</ul> 

<div class="timeline" style="height:30px"></div>
<div class="stamp">7<span>:</span>40<span>:</span>47 AM</div>
<div class="timeline" style="height:7px"></div>
<div class="stamp"><button type="button" class="btn btn-default active" style="padding-right:40px;padding-left:40px">Snooze</button></div>

<div class="timeline" style="height:33px"></div>
<div class="stamp">7<span>:</span>51<span>:</span>17 AM</div>
<div class="timeline" style="height:7px"></div>
<div class="stamp"><i><button type="button" class="btn btn-default active" style="padding-right:40px;padding-left:40px">Snooze</button></i></div>

<div class="timeline" style="height:42px"></div>
<div class="stamp">8<span>:</span>05<span>:</span>12 AM</div>
<div class="timeline" style="height:7px"></div>
<div class="stamp"><i><button type="button" class="btn btn-danger active" style="padding-right:40px;padding-left:40px">Dismiss</button></i></div>


<div class="timeline" style="height:90px"></div>
<div class="stamp">8<span>:</span>35<span>:</span>52 AM</div>
<div class="timeline" style="height:7px"></div>
{{> p1gmail-1}}

<div class="timeline" style="height:25px"></div>
<div class="stamp">8<span>:</span>40<span>:</span>12 AM</div>
<div class="timeline" style="height:7px"></div>
{{> mintT}}