/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}


/* Screen*/
.waltDisplay {
     max-width:400px;
     height:90vh;
     background: #F2F2F2;
     margin: auto;
     overflow: scroll;
     border-radius: 6px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

#background {
    background-color:#aaaaaa;
}

/* Timeline */
#circle {
    text-align: center;
    width: 10px;
    position: relative;
    top: 5px;
    display: block;
    margin: auto;
}

.timeline {
     background-image: url("../images/line.jpg");
     background-repeat: repeat-y;
     background-position: center; 
}

.stamp {
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #aaaaaa;
    padding-top: 25px;
}

/*  */
#link {
    cursor: pointer;
}

/* App Buttons and Modals */

.app {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width:75px;
    display: block;
    margin: auto;
}

body .modal-dialog {
    top:5vh;
    max-width:400px;
    max-height:90vh;
    margin: auto;
    overflow: scroll;
    border-radius: 6px;
}

#hide {
    position: absolute;
    padding: 15px;
    right: 150;
    padding-right: 5%;
    z-index: 5;
    width:50px;    
    height:10px;
    border:1px solid #000;
    background:white;

}