/* ############################# Screen Display #############################*/
.menuBar{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px;   
    text-align: center;
    color: #FFF;
    max-width: 400px;
    height: 20px;
    background: #000;
    margin: auto;
    border-top-left-radius: 6px;   
    border-top-right-radius: 6px; 
}

.menuBar span{
  animation: blink 1s infinite;
}

.waltDisplay {
    max-width:400px;
    height:90vh;
    background: #F2F2F2;
    margin: auto;
    overflow: scroll;
    border-bottom-left-radius: 6px;   
    border-bottom-right-radius: 6px;   

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

#background {
    background-color:#aaaaaa;
}


/* ############################# Timeline #############################*/
#circle {
    text-align: center;
    width: 10px;
    position: relative;
    top: 5px;
    display: block;
    margin: auto;
}

.timeline {
     background-image: url("../images/line.jpg");
     background-repeat: repeat-y;
     background-position: center; 
}

.stamp {
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #aaaaaa;
    padding-top: 25px;
}

/* ############################# App Buttons and Modals #############################*/

a img {
    cursor: pointer;
}

.app {
    padding-top: 15px;
    text-align: center;
    width:75px;
    display: block;
    margin: auto;
}

body .modal-dialog {
    top:5vh;
    max-width:400px;
    margin: auto;
    border-radius: 6px;
}

@media (min-width: 1025px) {
    body .modal-dialog {
        top:5vh;
        max-width:400px;
        max-height:92vh;
        margin: auto;
        overflow: scroll;
        border-radius: 6px;    
    }
}

.appName {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #aaaaaa;
}

.fitInModal {
    width: 100%;
}


/* ############################# Gallery App #############################*/

.galleryIco {
    text-align:center;
}

.galleryIco img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.galleryPadding img {
    padding: 10px;
}

/* ############################# Gmail App #############################*/
#gmail .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.gmailBody {   
    padding: 15px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;    
}

/* ############################# Google Maps App #############################*/
#viewMap .modal-body {
    width: 100%;
    padding: 0;
}

#map {
    height: 400px;
    width: 100%;
}

.mapHeader{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    width: 95%;
    height: 1.5em;
    background: #FFF;
    color: #FFF;
    font-size: 1.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px; 
    box-shadow: 0px 1px 5px #888888;   
    border-style: solid;
    border-width: 1px; 
    z-index: 2;

}

.mapHeader p{
    color: #000; 
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
}

.mapHeader p:nth-child(2){
  animation: type2 8s steps(60, end);
}

.mapHeader span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

/* ############################# Text App #############################*/
#text .modal-body {
    width: 100%;
    padding: 0;
    margin-bottom: 2.2em;
}

.txtHeader{
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #26B362;
    color: #FFF;
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px; 
}

.txtHeader img{
    height: 40px;
    padding-right: 15px;
    padding-left: 10px;
}

.textContainer {
    background-color: #e8e8e8;
    padding: 10px;
    min-height:60vh;
}

.textContainer p {
    padding:5px;
}

.received {
    max-width: 70%;
    color: #000; 
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200; 
    box-shadow: 0px 1px 1px #888888; 
    background-color: #FFF;
    border-radius: 2px;
}

.time {
    font-size: 10px;
    color: #9b9b9b; 
    padding-left: 5px;
    margin-top: -12px;
}

.sent {
    max-width: 70%;
    color: #000; 
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200; 
/*    box-shadow: 0px 1px 1px #888888; 
    background-color: #FFF;*/
    border-style: solid none none none;
    border-color: #9b9b9b;
    margin-left:auto; 
    margin-right:0;
    border-radius: 2px;
}

.textBox{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 99%;
    height: 2em;
    background: #FFF;
    color: #FFF;
    font-size: 1.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px; 
    box-shadow: 0px 1px 5px #888888;   
    border-style: solid;
    border-width: 1px; 
    z-index: 2;
}

.textBox p{
    color: #000; 
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
}

.textBox p:nth-child(2){
  animation: type2 8s steps(60, end);
}

.textBox span{
  animation: blink 1s infinite;
}

.textBox i{
    position: absolute;
    right: 0px;
    margin-top: -15px;
    color:#bfbfbf;
    padding-right: 15px;
}


