/* ############################# Mobile Responsive #############################*/
@media (min-width: 400px) {
    body .modal-dialog {
        top:5vh;
        max-width:400px;
        max-height:92vh;
        margin: auto;
        overflow: scroll;
        border-radius: 6px;    
    }
}

/* ############################# Screen Display #############################*/
.menuBar{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px;   
    text-align: center;
    color: #FFF;
    max-width: 400px;
    height: 20px;
    background: #000;
    margin: auto;
    border-top-left-radius: 6px;   
    border-top-right-radius: 6px; 
}

.menuBar span{
  animation: blink 10s infinite;
}

/* navBar function is currently inactive until further investigation */
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px;   
    text-align: center;
    color: #FFF;
    max-width: 400px;
    height: 7vh;
    background: #000;
    margin: auto;
    border-bottom-left-radius: 6px;   
    border-bottom-right-radius: 6px; 
}

.menuBar @keyframes blink{
  to{opacity: .0;}
}

.waltDisplay {
    max-width:400px;
    min-width:250px;
    width:100%;
    height:95vh;
    background: #F2F2F2;
    margin: auto;
    overflow: hidden;
    border-bottom-left-radius: 6px;   
    border-bottom-right-radius: 6px;     
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

#background {
    background-color:#aaaaaa;
}

.disable-mouse {
    cursor:not-allowed;
}

#nextArrow {
    color: #AAAAAA;
}

.blink-text {
    animation: blink 1s infinite;
}

/* ############################# Secure Chat Display #############################*/
.secureDisplay {
    max-width:400px;
    min-width:250px;
    width:100%;
    height:95vh;
    background: #000;
    margin: auto;
    overflow: hidden;
    border-bottom-left-radius: 6px;   
    border-bottom-right-radius: 6px;     
}

#secure-background {
    background-color:#000;
}

.secureText{
    color: #FFF;
    text-align: left;
    font-family: 'Source Code Pro', sans-serif;
}

.disconnected {
    color: #6d6d6d;
    text-align: center;
}

.secureText #decrypt{
  animation: blink 1s infinite;
}

.secure-walt {
    color: orange;
}

.secure-r5 {
    color: #00aeff;
}
/* ############################# Splash #############################*/
.splash {
    height: 60vh;
    display: -webkit-flex;
    display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.next-button {
    width: 55%;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

/* ############################# Auth #############################*/
.blink {
    color: #000;
}

.blink span {
    animation: blink 3s infinite;
}

.blink @keyframes blink{
  to{opacity: .0;}
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}


/* ############################# Timeline #############################*/
#circle {
    text-align: center;
    width: 10px;
    position: relative;
    top: 5px;
    display: block;
    margin: auto;
}

.timeline {
     background-image: url("../images/line.jpg");
     background-repeat: repeat-y;
     background-position: center; 
}

.stamp{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px;   
    text-align: center;
    color: #aaaaaa;
}

.stamp span{
  animation: blink 1s infinite;
}

.stamp @keyframes blink{
  to{opacity: .0;}
}

/* ############################# Fetched Data #############################*/
.fetch {
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}

.fetch-flex-container {
    display: -webkit-flex;
    display: flex;
    max-width: 400px;
    /*background-color: #aaaaaa;*/
}

.fetch-flex-item {
    background-color: #eaeaea;
    width: 33%;
    margin: 2px;
}

.fetch-flex-full {
    background-color: #eaeaea;
    width: 100%;
    margin: 2px;
}


/* ############################# App Buttons and Modals #############################*/

a img {
    cursor: pointer;
}

.appContainer {
    text-align: center;    
    vertical-align: top;
    display: inline-block;
    width: 21%;
}


.app {
    max-width: 55px;
    padding-top: 15px;
    /*position: relative;*/
}

/* name of the app. underneath image */
.appName {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #aaaaaa;
    font-size: 12px;
}

body .modal-dialog {
    top:5vh;
    max-width:400px;
    margin: auto;
    border-radius: 6px;
}

.fitInModal {
    width: 100%;
}

/* apps displayed on the home screen */
.appDisplay {
    padding-top: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    overflow:auto;
}

.modal {
    overflow: auto;
}

/* ############################# Notifications #############################*/
.note-flex-container {
    display: -webkit-flex;
    display: flex;
    max-width: 400px;
}
.note-left {
    padding-left: 5px;
    width: 20%;
}
.note-flex-column {
  -webkit-flex: 1;
          flex: 1;
}

/* ############################# Phone Call #############################*/
.incoming-call {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30px;   
    color: #FFF;
    padding-right: 5px;
}

.incoming-photo {
    padding-top: 25px;
    max-width: 55px;
}

.incoming-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30px;   
    color: #FFF;
    padding-right: 5px;  
}

.answer-buttons {
    max-width: 100%;
    padding: 5px;
}

.missed-call {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30px;   
    color: #000;
    padding-right: 5px;      
}

.note-left-missed-call {
    padding: 5px;
    width: 10%;
}

.missed-incoming-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 20px;   
    color: #000;
    padding-right: 5px;  
}

/* ############################# Push Notifications #############################*/

.mint-left{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;   
    color: #000;
    padding-top: 10px;
    padding-left: 25px;      
    width: 80%;
}

.mint-right{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: .9em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;   
    color: #000;  
    width: 20%;
    padding-top: 10px;
    padding-right: 5px;
}

.no-decorations, .no-decorations:hover, .no-decorations:active, .no-decorations:visited {
    text-decoration:none;
}
/* ############################# Loading Dots #############################*/
/*
    CSS animated loading dots
*/
body
{
  background: #5A5C64;
}
 
 
  .loading_dots
  {
    display: inline-block;
    font-size: .5em; /* set size here */
    width: 2.35em;
  }
 
  .loading_dots span
  {
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    height: 0.6em;
    width:  0.6em;
 
      -webkit-animation:  loading_dots 0.8s linear infinite;
      -moz-animation:     loading_dots 0.8s linear infinite;
      -ms-animation:      loading_dots 0.8s linear infinite;
    animation:            loading_dots 0.8s linear infinite;
  }
    .loading_dots span:nth-child(2)
    {
        -webkit-animation-delay:  0.2s;
        -moz-animation-delay:     0.2s;
        -ms-animation-delay:      0.2s;
      animation-delay:            0.2s;
    }
    .loading_dots span:nth-child(1)
    {
    -webkit-animation-delay:  0.4s;
        -moz-animation-delay:     0.4s;
        -ms-animation-delay:      0.4s;
      animation-delay:            0.4s;
    }
 
/*
  Define the animation for every efing vendor prefix
*/
  @-webkit-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }
  
  @-moz-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #FFF;
    }
    100% {
      background: transparent;
    }
  }
  @-ms-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #FFF;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #FFF;
    }
    100% {
      background: transparent;
    }
  }

/* ############################# Gallery App #############################*/
#gallery .modal-body {
    width: 100%;
    padding: 0;
}


.galleryHeader{
    text-align: left;
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #FFA63C;
    color: #FFF;
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px; 
    font-family: "Ubuntu", sans-serif;
}

.galleryHeader .fa-search {
    padding: 5px;
    font-size: 1.6em;
    float:right;
}

.galleryHeader img{
    height: 40px;
    padding-right: 5px;
    padding-left: 10px;
}

.gallery-body {
    background-color: #e0e0e0;
    padding-bottom: 50px;
}

.gallery-body h1{
    font-family: "Ubuntu", sans-serif;
    color: #8e8e8e;
    margin: 0;
    font-size: .8em;
    font-weight: 200;
    text-align: center;
    padding: 10px;

}

.gallery-thumb {
    width: 100%;
}

.gallery-thumb img {
    width: 31.5%;
    align: left;
    padding: 5px;
}

.gallery-zoom {
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    color: #262626;  
    padding-left: 15px;
    background-color: #e0e0e0;
    /*height: auto;*/
}

.gallery-zoom h1 {
    color: #2B2B2B;
    margin: 0;
    font-size: .8em;
    line-height: 1.3em;
    font-weight: 200;
    padding: 15px;
}

.gallery-zoom h2 {
    color: #e6e6e6;
    margin: 0;
    font-size: 1em;
    float: left;
    font-weight: 200;
    line-height: 1.3em;
}

/* ############################# Gmail App #############################*/
.gmail .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.gmailBody {   
    padding: 15px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;    
}

.gmailButton hr {
    margin: 0px;
}

.clickable {
    cursor: pointer;
}

.gmail-quote {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 11px;
    color: #7a7a7a;
}

.gmail-sender {
    font-size: 11px;
    color: #7a7a7a;
    line-height: 150%
}

.gmailHeader {
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
    text-align: left;       
}

.gmail-compose {
    padding: 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 30px;
    text-align: left; 
    color:#9b9b9b;      
}

.gmailSubtext {
    padding-left: 24px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: .8em;
    font-style: normal;
    font-variant: normal;
    text-align: left;   
    color: #7a7a7a;   
}

.gmailTime {
    padding-top: 5px;
    padding-right: 5px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: .8em;
    color: #1457cc;
    font-style: normal;
    font-variant: normal;
    text-align: right;      
}

.gmailHeart {
    padding-right: 5px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    text-align: right;     
}

.removeBold {
    font-weight: normal;
}

.gmail-flex-container {
    display: -webkit-flex;
    display: flex;
    max-width: 400px;    
}

.gmail-flex-item {
    width: 80%;    
}

.gmail-flex-item-img {
    width: 60px;
}

.gmail-flex-item-right {
    width: 20%;    
}

.gmail-checkbox {
    padding-top: 7px;
    padding-left: 7px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* ############################# Google Search App #############################*/
#search .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

#search-2 .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.search-header{
    background-color: #4385F5;
    padding: 18px;
}

.search-header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    font-height: 20px;
    color: #FFF;
    text-align: left;
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;      
}

.search-header h2{
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    font-weight: 200;
    color: #FFF; 
    text-align: left;
    line-height: 120%;
    padding: 0px;
    margin: 0px;    
}

.search-flex-left{
    width: 20%;
}

.search-flex-right{
    width: 80%;
    text-align: left;   
    padding-right: 8px; 
}

.search-flex-right h1{
    color: #000;
    display: inline;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;

}

.search-flex-right h2{
    font-family: 'Roboto', sans-serif;    
    padding: 0;
    margin: 0;
    font-weight: 200;
    font-size: .9em;
    line-height: 15px;
    color:#b2b2b2;
}

.search-flex-right h3 {
    display: inline;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;    
    color:#660099;
}

.search-flex-right h4 {
    display: inline;
    font-family: 'Roboto', sans-serif;    
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    font-weight: 200;
    font-size: 1.2em;
    line-height: 15px;   
    color:#006621;
}

.search-flex-right u{
    color:#005999;
    text-decoration: none;
}

.refresh {
    width: 95%;
    margin: 0 auto; 
    /*padding-bottom: 25px;*/
}

.search-collapse {
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    padding: 0;
    margin: 0;
    font-size: .8em;
    font-weight: 400;
}

.search-collapse h1 {
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    padding-top: 10px;
    padding-right: 25px;    
}

.search-flex-container {
    padding-top: 7px;
    display: -webkit-flex;
    display: flex;
    max-width: 400px;
}

#search-2 .panel {
    width: 95%;
    margin: 0 auto;
}

.search-delete h1 {
    margin: 0;
    padding: 15px;
    font-family: 'Roboto', sans-serif;    
    font-size: 1.8em;
    text-align: left;
    font-weight: 200;
    color: #212121;
}

.search-delete h2 {
    margin: 0;
    padding: 15px;
    font-family: 'Roboto', sans-serif;    
    font-size: 1em;  
    font-weight: 200; 
    text-align: left; 
    color: #737373;
}

#search-2 .panel h3 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;    
    font-size: 1em; 
    font-weight: 400;  
    text-align: left; 
    color: #212121;
}

/* ############################# Google Maps App #############################*/
#viewMap .modal-body {
    width: 100%;
    padding: 0;
}

#map {
    min-height:75vh; 
    width: 100%;
}

.mapHeader{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 6px;

    width: 95%;
    height: 1.5em;
    background: #FFF;
    color: #FFF;
    font-size: 1.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px; 
    box-shadow: 0px 1px 5px #888888;   
    border-style: solid;
    border-width: 1px; 
    z-index: 2;
    text-align: left;

}

.mapHeader span{

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
}

/* ############################# Mint App #############################*/
#mint .modal-body {
    width: 100%;
    padding: 0;
    background-color: #E7E7E7;
}

#mintbody {
    min-height: 60vh;
}

.mint-flex-container {
    display: -webkit-flex;
    display: flex;
    max-width: 400px;
}

.mint-flex-item {
    width: 55%;
}

.mint-category {
    color: #8e8e8e;
    font-size: 12px;
}

.mint-flex-full {
    width: 100%;
}

.tabs {
  /**
   * Setting display to flex makes this container lay
   * out its children using flexbox, the exact same
   * as in the above "Stepper input" example.
   */
    display: -webkit-flex;
    display: flex;
    max-width: 400px;
    background-color: #22C678;
    border-bottom: 1px solid #D7DBDD;

    align-items: flex-end; 
    justify-content: space-between;     
}

.tabs a {
    text-decoration: none;
}

.tab {    
    padding-right: 50px; 
    padding-left: 50px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #74DBAD;
    font-size: 1.1em;
    font-weight: 300;
    border-bottom: 4px solid transparent;

}



.tab.is-tab-selected {
    color: #FEFEFE;
    border-bottom-color: #249D7D;
}

/* ############################# Text App #############################*/
#text .modal-body {
    width: 100%;
    padding: 0;
    margin-bottom: 2.2em;
}

.txtHeader{
    text-align: left;
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #26B362;
    color: #FFF;
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px; 
}

.txtHeader .txt-ico{
    height: 40px;
    padding-right: 15px;
    padding-left: 10px;
}

.textContainer {
    background-color: #e8e8e8;
    padding: 10px;
    min-height:60vh;
}

.textContainer p {
    padding:5px;
}

.received {
    text-align: left;    
    max-width: 70%;
    color: #000; 
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 200; 
    box-shadow: 0px 1px 1px #888888; 
    background-color: #FFF;
    border-radius: 2px;
}

.time {
    text-align: left;    
    font-size: 10px;
    color: #9b9b9b; 
    padding-left: 5px;
    margin-top: -12px;
}

.sent {
    text-align: left;    
    max-width: 70%;
    color: #000; 
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 200; 
/*    box-shadow: 0px 1px 1px #888888; 
    background-color: #FFF;*/
    border-style: solid none none none;
    border-color: #9b9b9b;
    margin-left:auto; 
    margin-right:0;
    border-radius: 2px;
}

.textBox{
    text-align: left;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 99%;
    height: 2em;
    background: #FFF;
    color: #FFF;
    font-size: 1.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px; 
    box-shadow: 0px 1px 5px #888888;   
    border-style: solid;
    border-width: 1px; 
    z-index: 2;
}

.textBox span{
    padding: 2px;
    font-family: "Ubuntu", sans-serif;
    font-size: .7em;
    color: #000;
    overflow: hidden;  
}

.textBox i{
    position: absolute;
    right: 0px;
    margin-top: 9px;
    color:#bfbfbf;
    padding-right: 9px;
}

/* how the button will appear */
.buttonRefresh {
    width: 100%;
}

/* ############################# Facebook Messenger #############################*/
.messenger .modal-body {
    width: 100%;
    padding: 0;
    margin-bottom: 2.2em;
}

.fbHeader{
    text-align: left;
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #FFF;
    color: #000;
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px; 
    border-bottom: 1px solid;
    border-color: #D4D4D4;
}

.fb-left-arrow {
    text-align: left;
    font-size: 1em; 
    color: #D4D4D4;
    padding-top: 10px;
    padding-left: 5px;      
    width: 5%;    
}

.fb-left{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;   
    color: #000;
    padding-top: 5px;
    padding-left: 5px;      
    width: 80%;
}

.fb-right{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 1.2em; 
    color: #D4D4D4;  
    width: 20%;
    padding-top: 10px;
    padding-right: 5px;
}

.fb-textContainer {
    overflow: hidden;
    background-color: #FFF;
    padding: 10px;
    min-height:60vh;
}

.fb-received {
    clear:both;
    padding: 10px;
    text-align: left;    
    max-width: 70%;
    color: #000; 
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 200; 
    box-shadow: 0px 1px 1px #888888; 
    background-color: #E9E9E9;
    border-radius: 18px;
    float: left; 
    margin:5px;
}

.fb-sent {
    clear:both;
    padding: 10px;
    text-align: left;    
    max-width: 70%;
    color: #FFF; 
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 200; 
    box-shadow: 0px 1px 1px #888888; 
    background-color: #1787FB;
    border-radius: 18px;
    float: right; 
    margin:5px;
}

.fb-time {    
    clear:both;
    text-align: center;    
    font-size: .8em;
    color: #D4D4D4; 
    padding: 5px;
}

.fb-bumper {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.fb-offline {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: .8em;    
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;     
    color: #D4D4D4;
    clear:both;
}

/* ############################# Typing Integrations #############################*/
/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* ############################# What is Walt #############################*/
#whatis .modal-body {
    min-height:40vh; 
}

/* ############################# Push Button #############################*/

.start-button {
    /*position: relative;*/
    color: #4B4B4B;
    text-decoration: none;
    background-color: #F2F2F2;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3em;
    padding-left: 50px;
    padding-right: 50px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(75,75,75,1), 0px 3px 10px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(75,75,75,1), 0px 3px 10px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(75,75,75,1), 0px 3px 10px rgba(0,0,0,.7);
    margin: 100px auto;
    width: 160px;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.start-button:hover{
    color: #000;
    text-decoration: none;
}

.start-button:active {    
    -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(0,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}


/* ############################# Emoji #############################*/
.emoji {
    max-width: 18px;
    max-height: 18px;
}

/* ############################# Fitbit #############################*/
#fitbit .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

#fitbit-breathe .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
    background-color: #DADADA;
}

.fitbit-header{
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #4DBFBF;
}

.fitbit-header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 30px;
    padding-top: 7px;
}

.fitbit-today{
    padding: 5px;
    width: 100%;
    height: 35px;
    background: #F7F7F7;
}

.fitbit-today h1 {
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
    font-size: 1em;
    padding-top:4px;
    margin: 0;
}

.fitbit-img {
    max-height: 50px;
    max-width: 40px;
}

.fitbit-bold {
    font-family: 'Montserrat', sans-serif;
    color: #475261;
    font-weight: 200;
    font-size: 1.3em;
    padding-top:4px;
    margin: 0;    
}

.fitbit-bold h1 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #8A8A8A;
    font-weight: 300;
    font-size: .8em;
}

.fitbit-bold button{
    float: right;
    margin-right: 25px;
}

.fitbit-sub {
    font-family: 'Raleway', sans-serif;
    color: #8A8A8A;
    font-weight: 300;
    font-size: 1em;
    margin: 0;      
}

.fitbit-sub img {
    width: 90%;
}

/* ############################# Voice #############################*/
#voice .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.voice-header{
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #dadada;
    border-bottom: 1px solid grey;
}

.voice-header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;   
    text-align: left;    
    padding-top: 12px;
    padding-left: 25px;
    margin:0;
    float:left;
}

.voice-header .fa-bars{
    padding-top: 12px;
    font-size: 1.3em;
    float:left;
    padding-left: 5px;
}

.voice-header .fa-envelope-o{
    padding-top: 12px;
    font-size: 1.3em;
    float:right;
    padding-right: 5px;
}

.voice-img {
    max-width: 55px;
}

.fitbit-bold h2 {
    font-family: 'Montserrat', sans-serif;
    color: #475261;
    font-weight: 200;
    font-size: .8em;
    padding-top:4px;
    text-align: right;
    margin:0;
    float:right;
    padding-right: 15px;
}

#myAudio {
    width: 97%;
}

#transcribe-vm {
    padding: 5px;
    border: 1px solid #DADADA;
    margin: 15px;
    text-align: left;
}

/* ############################# Instagram #############################*/
#insta .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.insta-header{
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    border-bottom: 1px solid #b2b2b2;
}

.insta-header h1 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;      
    margin: 0;
    padding-top: 10px;
    color: #262626;
}

#insta .fa-angle-left {
    float: left;
    padding-left: 5px;
    font-size: 3.2em;

}

#insta .fa-ellipsis-h {
    float:right;
    padding-right: 15px;
    font-size: 1.4em;
}


.insta-container {
    padding-top: 15px;
    width: 100%;
    display: flex;
}

.insta-item-photo {
    clear: both;
    width: 30%;
}

.insta-item-photo img {
    max-width: 105px;
    padding-left: 15px;
}

.insta-item-stats-container{
    width: 20%;
    height: 50%;
}

.insta-item-stats-container-2{
    width: 30%;
}

.insta-item-stats-items {
    width: 33%;
    text-align: center;
    margin: auto;
}

.insta-item-stats-items-2 {
    margin-left: auto;
    width: 100%
}

.follow {
    max-width: 260px;
    float: right;
    position: relative;
    margin-top:-65px;
    padding-right: 15px;
    padding-top: 25px;
}

.insta-item-stats-container img {
    width: 100%;
}

.insta-item-stats-items h1 {
    font-size: 1.3em;
    margin: auto;
    font-weight: 700;
}

.insta-item-stats-items h2 {
    font-size: 1em;
    color: #b2b2b2;
    margin: 0;
    font-weight: 200;
}

.insta-info {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    text-align: left;      
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: #262626;    
}

.insta-thumb {
    width: 100%;
}

.insta-thumb img {
    width: 32.5%;
    align: left;
    padding: 2px;

}

.insta-view-item-photo {
    position: absolute;
    left: 0px;
    padding: 7px;
}

.insta-view-item-photo img {
    max-width: 50px;
}

.insta-view-header {
    padding: 5px;
    width: 100%;
    height: 75px;
    background: #f9f9f9;
    border-bottom: 1px solid #b2b2b2;    
}

.insta-fitInModal .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.insta-name {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 8px;
    padding-left: 60px;
    text-align: left;
}

.insta-likes {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    color: #262626;  
    padding-left: 15px;
}

.insta-likes h1 {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color:#b2b2b2;
    font-size: .7em;
    padding-top: 3px;
}

.insta-likes u {
    color: #003569;  
    text-decoration: none;
}

.insta-delete {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align:left;
    padding:15px;
}

.insta-delete h1 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #06365F;
    padding-bottom: 20px;
    font-size: 1.7em;
    margin: 0;
}

/* ############################# Facebook #############################*/
#facebook .modal-body {
    width: 100%;
    padding: 0;
}

.cover-photo {
    padding: 5px;
    width: 100%;
    height: 180px;
    background-image: url("/images/fb-cover.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background: #000;*/
    
}

.move-up {
    position: relative;
    margin-top:-65px;
}

.fb-name {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 8px;
    text-align: center;
    font-size: 1.5em;
}

.fb-flex-item {
    padding-left: 10px;
    width: 10%;
    margin: 2px;
    text-align: left;
}

.fb-flex-item2 {
    margin: 2px;
    width: 87%;
    text-align: left;
}

.fb-body {
    background-color: #E9EBEE;
    padding-top: 25px;
    padding-bottom: 25px;
}

.fb-status-flex-container {
    margin: auto;
    padding: 8px;
    display: -webkit-flex;
    display: flex;
    max-width: 390px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    color:#B0B1B1;
}

#facebook .panel {
    width: 98%;
    margin: 0 auto;
}

.fb-container {
    height: 60vh;
    background-color: #DDDFE2;
}

.fb-container h1{
    margin: 0;
    padding: 0;
    font-size: 1em;
    float: left;
    padding-left: 5px;
}

.fb-container h2{
    margin: 0;
    padding: 0;
    font-size: 1em;
    float: right;
    padding-right: 5px;
    font-weight: 400;
}
/* ############################# Netflix #############################*/
#netflix .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.netflix-header{
    padding: 5px;
    width: 100%;
    height: 40px;
    background: #1b1b1b;
    border-bottom: 1px solid #353535;
}

.netflix-header img {
    height: 25px;
}

#netflix .fa-bars {
    float: left;
    padding-left: 15px;
    padding-top: 6px;
    font-size: 1.4em;
    color: #e6e6e6;

}

#netflix .fa-search {
    float:right;
    padding-right: 15px;
    padding-top: 6px;
    font-size: 1.4em;
    color: #e6e6e6;
}

.netflix-body {
    background-color: #1b1b1b;
    padding-bottom: 50px;
}

.netflix-body h1{
    color: #e6e6e6;
    margin: 0;
    font-size: 1em;
    text-align: left;
    padding: 5px;
    padding-left: 7px;
}

.netflix-thumb {
    width: 100%;
}

.netflix-thumb img {
    width: 31.5%;
    align: left;
    padding: 5px;

}

.netflix-info {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    color: #262626;  
    padding-left: 15px;
    background-color: #1b1b1b;
}

.netflix-info .fa-star {
    padding-top: 5px;
    color: #e50914;
}

.netflix-info h1 {
    color: #adadad;
    margin: 0;
    font-size: .8em;
    line-height: 1.3em;
    float: left;
    font-weight: 200;
}

.netflix-info h2 {
    color: #e6e6e6;
    margin: 0;
    font-size: 1em;
    float: left;
    font-weight: 200;
    line-height: 1.3em;
}

/* ############################# Venmo #############################*/
.venmo-notif{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;   
    color: #000;
    padding-top: 10px;
    padding-left: 25px;      
    width: 100%;
}

/* ############################# Uber #############################*/
#uber .modal-body {
    width: 100%;
    padding: 0;
    min-height:60vh; 
}

.border-bot {
    border-bottom: 1px solid #777777;
}

.uber-body {
   position: relative;
}

.uber-header{
    width: 100%;
    padding: 18px;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .7);
    border-bottom: 1px solid #bfbfbf;

    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.uber-header .fa-map-marker {
    font-size: 2em;
    padding-top: 6px;
    padding-left: 10px;
    float: left;
    color: #878787;
}

.uber-header .fa-location-arrow {
    font-size: 2em;
    padding-top: 6px;
    padding-right: 10px;
    float: right;
    color: #878787;
}

.uber-header p {
    float: center;
    margin: 0;
    padding: 0;
    font-size: .8em;
    color: #27aa0b;
}

.uber-header h1 {
    float: center;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    color: #4d4d4d;
    font-weight: 300;
    padding-top: 3px;
}

/* ############################# Spotify #############################*/
#spotify .modal-body {
    width: 400px;
    padding: 0;
    min-height:60vh; 
}

#spotify iframe{
    width: 100%;
    height: 70vh;
}